.tradestaus{
    background-color: yellow;
    font-size: 25px;
    height: 60px;
}
.tradestaussuccess{
    background-color: green;
    font-size: 25px;
    height: 60px;
    color:#fff;
}
.tradestausfail{
    background-color: red;
    font-size: 25px;
    height: 60px;
    color:#fff;
}