<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div *ngIf="successMsg" class="mb-3 mt-3">
                            <alert type="success">
                                {{successMsg}}
                            </alert>
                        </div>
                        <div *ngIf="errorMsg" class="mb-3 mt-3">
                            <alert type="danger">
                                {{errorMsg}}
                            </alert>
                        </div>
                        <div class="box-header">
                            <h4>sellff market exchange open 24X7</h4>
                            <p>new trading day starts @12am pacific time</p>
                            <form class="form-horizontal" *ngIf="userTransactionDetails">
                                <div class="form-group" *ngIf="userTransactionDetails && userTransactionDetails.ShareSymbol">
                                    <label class="text-left col-sm-5">symbol</label>
                                    <label class="text-right col-sm-7" style="font-weight: normal !important;">{{userTransactionDetails.ShareSymbol}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="text-left col-sm-5">current price</label>
                                    <label class="text-right col-sm-7" style="font-weight: normal !important;">{{userTransactionDetails.LastTradeSharePrice}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="text-left col-sm-5">open price</label>
                                    <label class="text-right col-sm-7" style="font-weight: normal !important;">{{userTransactionDetails.AskPrice}}</label>
                                </div>
                                <div class="form-group">
                                        <label class="text-left col-sm-5">price change</label>
                                        <label class="text-right col-sm-7" style="font-weight: normal !important;"></label>
                                    </div>
                                <div class="form-group">
                                    <label class="text-left col-sm-5">% change</label>
                                    <label class="text-right col-sm-7" style="font-weight: normal !important;"></label>
                                </div>
                                <div class="form-group">
                                    <label class="text-left col-sm-5">shares traded</label>
                                    <label class="text-right col-sm-7" style="font-weight: normal !important;">{{userTransactionDetails.TotalPurchasedShareQty}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="text-left col-sm-5">market cap</label>
                                    <label class="text-right col-sm-7" style="font-weight: normal !important;">{{userTransactionDetails.MarketCap}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="text-left col-sm-5"># investors</label>
                                    <label class="text-right col-sm-7" style="font-weight: normal !important;">{{userTransactionDetails.Investors}}</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="box">
                        <div class="invest-graph">
                            <highcharts-chart
                                [Highcharts] = "highcharts" 
                                [options] = "chartOptions" 
                                style = "width: 100%; height: 400px; display: block;">
                             </highcharts-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="form-horizontal" *ngIf="userTransactionDetails">
                            <div class="form-group">
                                <label class="text-left col-sm-5">shares owned</label>
                                <label class="text-right col-sm-7">{{userTransactionDetails.TotalPurchasedShareQty}}</label>
                            </div>
                            <div class="form-group">
                                <label class="text-left col-sm-5">profit/loss</label>
                                <label class="text-right col-sm-7">{{userTransactionDetails.ProfitRLoss}}</label>
                            </div>
                            <div class="form-group">
                                <label class="text-left col-sm-5">% profit/loss</label>
                                <label class="text-right col-sm-7">{{userTransactionDetails.ProfitRLossPercentage}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="box">
                        <div class="box-center">
                            <h4>Select buy or sell to make a trade</h4>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-4">
                                    <button class="btn btn-default" (click)="saveUserBuySellTransactionDetails(2)">1.215<br> Buy {{buySharesStr}} shares</button>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-danger" (click)="saveUserBuySellTransactionDetails(1)">1.213<br> Sell {{sellSharesStr}} shares</button>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>

                            <div class="status-open">
                                <p>Trade status open</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        <div class="pull-right ">
            <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Site map</a>
        </div>
        Copyright 2019 All Right Reserved
    </footer>
</div>
<!-- /.content-wrapper -->
<div class="control-sidebar-bg"></div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fastclick.js"></script>
<script src="js/custom.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/jquery.slimscroll.min.js"></script>