<div class="wrapper">

    <div class="content-wrapper">
        <section class="content">
            <div class="text-center pull-right">
                <a href="#"><i id="social-gp" style="padding-right: 4px;" class="fa fa-globe fa-2x social"></i></a>
                <a href="#"><i id="social-tw" style="padding-right: 4px;" class="fa fa-twitter-square fa-2x social"></i></a>
                <a href="#"><i id="social-em" style="padding-right: 4px;" class="fa fa-bell fa-2x social"></i></a>
                <a href="#"><i id="social-fb" style="padding-right: 4px;" class="fa fa-facebook-square fa-2x social"></i></a>
                <a href="#"><i id="social-tw" style="padding-right: 4px;" class="fa fa-twitter-square fa-2x social"></i></a>
                <a href="#"><i id="social-gp" style="padding-right: 4px;" class="fa fa-google-plus-square fa-2x social"></i></a>
                <a href="#"><i id="social-em" style="padding-right: 4px;" class="fa fa-envelope-square fa-2x social"></i></a>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-header with-border">
                            <h4>Sellff market exchange open 24X7</h4>
                            <h6>New trading day starts @12am pacific time</h6>
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="text-left col-sm-5">Symbol</label>
                                    <label class="text-right col-sm-7" style="font-weight: normal !important;">Tom Clarke</label>
                                </div>
                                <div class="form-group">
                                    <label class="text-left col-sm-5">Current Price</label>
                                    <label class="text-right col-sm-7" style="font-weight: normal !important;">@tclarke</label>
                                </div>
                                <div class="form-group">
                                    <label class="text-left col-sm-5">Open Price</label>
                                    <label class="text-right col-sm-7" style="font-weight: normal !important;">Los Angeles, CA</label>
                                </div>
                                <div class="form-group">
                                    <label class="text-left col-sm-5">%Change</label>
                                    <label class="text-right col-sm-7" style="font-weight: normal !important;">21st Sep</label>
                                </div>
                                <div class="form-group">
                                    <label class="text-left col-sm-5">Shares Traded</label>
                                    <label class="text-right col-sm-7" style="font-weight: normal !important;">10-18-2016</label>
                                </div>
                                <div class="form-group">
                                    <label class="text-left col-sm-5">Market Cap</label>
                                    <label class="text-right col-sm-7" style="font-weight: normal !important;">IT Engineer</label>
                                </div>
                                <div class="form-group">
                                    <label class="text-left col-sm-5">#Investers</label>
                                    <label class="text-right col-sm-7" style="font-weight: normal !important;">114</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="box">
                        <div class="box-header with-border">
                            <img src="./././assets/images/invest_pic.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-header with-border">
                            <div class="form-group">
                                <label class="text-left col-sm-5">Shares Traded</label>
                                <label class="text-right col-sm-7" style="font-weight: normal !important;">10-18-2016</label>
                            </div>
                            <div class="form-group">
                                <label class="text-left col-sm-5">Market Cap</label>
                                <label class="text-right col-sm-7" style="font-weight: normal !important;">IT Engineer</label>
                            </div>
                            <div class="form-group">
                                <label class="text-left col-sm-5">#Investers</label>
                                <label class="text-right col-sm-7" style="font-weight: normal !important;">114</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="box">
                        <div class="box-header with-border">
                            <h4 class="text-center">Select buy or cell to make a trade</h4>
                            <button>1.215<br> buy 1,000 shares</button><button>1.213<br> cell 1,000 shares</button>
                            <h4 class="text-center">Trade status open</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        <div class="pull-right ">
            <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Site map</a>
        </div>
        Copyright 2019 All Right Reserved
    </footer>
</div>
<!-- /.content-wrapper -->
<div class="control-sidebar-bg"></div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fastclick.js"></script>
<script src="js/custom.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/jquery.slimscroll.min.js"></script>