<div class="wrapper">

    <div class="content-wrapper">
        <section class="content">

            <div class="socail-links text-center pull-right">
                <a href="#"><i id="social-gp" class="fa fa-globe fa-2x social"></i></a>
                <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
                <a href="#"><i id="social-em" class="fa fa-bell fa-2x social"></i></a>
                <a href="#"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
                <a href="#"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
                <a href="#"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="row">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Consult</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Payment</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="block">
                                                <div class="row">
                                                    <div class="span4">
                                                        <img class="img-left" src="http://assets.barcroftmedia.com.s3-website-eu-west-1.amazonaws.com/assets/images/recent-images-11.jpg" />
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing
                                                            Lorem Ipsum is simply Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                                            dummy text of the printing Lorem Ipsum is simply</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <label><span>15</span>Minutes</label>
                                        </td>
                                        <td>
                                            <label><span>$</span>25</label>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs">Book it!</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="block">
                                                <div class="row">
                                                    <div class="span4">
                                                        <img class="img-left" src="http://assets.barcroftmedia.com.s3-website-eu-west-1.amazonaws.com/assets/images/recent-images-11.jpg" />
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing
                                                            Lorem Ipsum is simply Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                                            dummy text of the printing Lorem Ipsum is simply</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <label><span>15</span>Minutes</label>
                                        </td>
                                        <td>
                                            <label><span>$</span>25</label>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs">Book it!</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </section>
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row -->

    <!-- /.content -->
    <footer class="main-footer">
        <div class="pull-right ">
            <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Site map</a>
        </div>
        Copyright 2019 All Right Reserved
    </footer>
</div>
<!-- /.content-wrapper -->
<div class="control-sidebar-bg"></div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fastclick.js"></script>
<script src="js/custom.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/jquery.slimscroll.min.js"></script>