<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">            <div class="row">
                <div class="col-md-6"></div>
            </div>
            <div *ngIf="successMsg">
                <alert type="success">
                    <strong>Success!</strong> {{successMsg}}
                </alert>
            </div>
            <div *ngIf="errorMsg">
                <alert type="danger">
                    <strong>Error!</strong> {{errorMsg}}
                </alert>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <h4>Message History</h4>

                        <div class="msg-box" *ngFor="let message of userMessages">
                            <ul>
                                <li>
                                    <a (click)=openotherprofile(message) style="    margin-right: 15px;"><span *ngIf="message.DisplayName">{{message.DisplayName}}</span></a>
                                     <a *ngIf="isAboutInEditMode" (click)="showcommunication(message.MessageFrom,message.MessageTo,message.DisplayName)">
                                        <span class="fa fa-list-alt"></span></a>
                                    <a *ngIf="isAboutInEditMode" (click)="showpreviousmessages(message.MessageFrom,message.MessageTo,message.DisplayName,template)">
                                        <span class="fa fa-list-alt"></span></a>
                                </li>
                                <li>
                                    <label class="text-right" *ngIf="message.MessageSentTime">{{message.MessageSentTime}}</label>
                                </li>
                            </ul>
                            <p *ngIf="message.Message">{{message.Message}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" *ngIf="!isAboutInEditMode || showcommunicationbox">
                    <div class="box new-mg-box message-box">
                        <div>
                            <h4>New Message</h4> <span *ngIf="showcommunicationbox"> - {{messageDisplayName}}</span>
                        </div>

                        <textarea [(ngModel)]="userMsg"></textarea>
                        <span *ngIf="isSubmitted && !userMsg" style="color: red">Please enter the message</span>
                        <button type="button" (click)="sendMessage()" class="btn btn-primary pull-right">Send
                            Message</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Message History</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="border-radius: 10px;" *ngFor="let commmessage of usersCommMessages">
            <label class="text-left col-sm-6" *ngIf="commmessage.DisplayName">{{commmessage.DisplayName}}</label>
            <label class="text-right col-sm-6" *ngIf="commmessage.MessageSentTime">{{commmessage.MessageSentTime}}</label><br>
            <p *ngIf="commmessage.Message">{{commmessage.Message}}</p>
        </div>
      </div>
</ng-template>
<!-- /.content-wrapper -->
<div class="control-sidebar-bg"></div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fastclick.js"></script>
<script src="js/custom.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/jquery.slimscroll.min.js"></script>