.message-m-b {
    padding-right: 10px;
}
.msgdetail{
    max-height: 60vh !important;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px
}
.max-msg-scroll {
    padding-right: 5px;
    max-height: 74vh;
    overflow-y: auto;
}