<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">            <div class="row">
                <div class="col-md-6"></div>
            </div>
            <div *ngIf="successMsg">
                <alert type="success">
                    <strong>Success!</strong> {{successMsg}}
                </alert>
            </div>
            <div *ngIf="errorMsg">
                <alert type="danger">
                    <strong>Error!</strong> {{errorMsg}}
                </alert>
            </div>
            <div class="p-10 p-lr-0-d">
                <div class="message-main">
            <div class="row">
                <div class="col-md-7 p-r-d-40">
                    <div class="box">
                        <h3 class="normal-title">Message History</h3>
                        <div class="message-m-b">
                        <div class="msg-box" *ngFor="let message of userMessages">
                            <ul>
                                <li>
                                    <a (click)=openotherprofile(message) style="margin-right: 15px;"><span *ngIf="message.DisplayName">{{message.DisplayName}}</span></a>
                                     <a title="New Message" class="create-history" *ngIf="isAboutInEditMode && !message.IsMsgFromLoggedInUser" (click)="showcommunication(message.MessageFrom,message.MessageTo,message.DisplayName)">
                                            <i class="fa fa-plus" aria-hidden="true"></i></a>
                                    <a class="create-history" title="Message History" *ngIf="isAboutInEditMode && !message.IsMsgFromLoggedInUser" (click)="showpreviousmessages(message.MessageFrom,message.MessageTo,message.DisplayName,template)">
                                            <i class="fa fa-history" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <label class="text-right" *ngIf="message.MessageSentTime"><span *ngIf="message.IsMsgFromLoggedInUser">To {{message.MessageToName}} at: </span> {{message.MessageSentTime}}</label>
                                </li>
                            </ul>
                            <p *ngIf="message.Message">{{message.Message}}</p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-5 p-l-d-40 b-d-left" *ngIf="!isAboutInEditMode || showcommunicationbox">
                    <div class="box new-mg-box message-box">
                            <h3 class="normal-title">New Message <span *ngIf="showcommunicationbox"> - {{messageDisplayName}}</span></h3> 
                            <div class="message-m-b">
                        <textarea [(ngModel)]="userMsg"></textarea>
                        <span *ngIf="isSubmitted && !userMsg" style="color: red">Please enter the message</span>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="text-right" *ngIf="!isAboutInEditMode || showcommunicationbox">
                    <button type="button" (click)="sendMessage()" class="btn btn-warning large_yellow_btn">Send
                            Message</button>
            </div>
        </div>
        </div>
        </section>
    </div>
</div>
<ng-template #template>
   
      <div class="modal-body max-height-modal">
        <div style="border-radius: 10px;" *ngFor="let commmessage of usersCommMessages">
            <div class="row">
                    <label class="text-left col-sm-6" *ngIf="commmessage.DisplayName">{{commmessage.DisplayName}}</label>
                    <label class="text-right col-sm-6" *ngIf="commmessage.MessageSentTime">{{commmessage.MessageSentTime}}</label>
            </div>
           
            <p *ngIf="commmessage.Message">{{commmessage.Message}}</p>
        </div>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-custom pull-left" aria-label="Close" (click)="modalRef.hide()">
                   Close
                  </button>
      </div>
</ng-template>
<!-- /.content-wrapper -->
<div class="control-sidebar-bg"></div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fastclick.js"></script>
<script src="js/custom.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/jquery.slimscroll.min.js"></script>