.error-msg {
    font-size: 16px;
    color: red;
    margin-bottom: 10px;
}
.success-msg{
    font-size: 16px;
    color: green;
    margin-bottom: 10px;
}
.lgiright {
    float: right;
    margin-top: 25px;
}