<div class="row block-full-width" *ngIf="notificationData">
    <div class="col-sm-2  col-xs-4">
        <div class="info-box">

            <div class="info-box-content">
                <span class="info-box-text">Views</span>
                <span class="info-box-number">{{notificationData.Views}}</span>
            </div>
        </div>
    </div>
    <div class="col-sm-2  col-xs-4">
        <div class="info-box">

            <div class="info-box-content">
                <span class="info-box-text">Posts</span>
                <span class="info-box-number">{{notificationData.Posts}}</span>
            </div>
        </div>
    </div>
    <div class="col-sm-2  col-xs-4">
        <div class="info-box">

            <div class="info-box-content">
                <span class="info-box-text">Reviews</span>
                <span class="info-box-number">{{notificationData.Reviews}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-sm-2  col-xs-4">
        <div class="info-box">

            <div class="info-box-content">
                <span class="info-box-text">Investors</span>
                <span class="info-box-number">{{notificationData.Investors}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-sm-2  col-xs-4">
        <div class="info-box">

            <div class="info-box-content">
                <span class="info-box-text">Investments</span>
                <span class="info-box-number">{{notificationData.Investments}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</div>