<div class="wrapper">
<div class="container main1">
    <div class="row">
        <div class="col-md-6">                
            <div class="box">                
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="././././assets/images/3d.png" class="img-responsive">
                            <div style="padding-top: 8px;"><button type="button" class="btn btn-danger btn-block btn-xs">INVEST</button></div>
                        </div>
                        <div class="col-md-9">
                            <p style="font-weight: bold; font-size: 16px;">Tom Clarke</p>
                                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        </div>
                    </div>
                    <div class="row" style="padding-top: 9px; padding-left: 9px; padding-right: 9px;">
                        <table class="table table-hover" border="1px solid;" style="text-align: center;">
                            <thead style="background-color: cornflowerblue; color: white;">
                                <tr>
                                    <th scope="col">Share Price</th>
                                    <th scope="col">$ Change</th>
                                    <th scope="col">% Change</th>
                                    <th scope="col">Shareds Owned</th>
                                    <th scope="col">Profit / Loss</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="font-weight: bold;">$1,500</td>
                                    <td style="font-weight: bold; color: rgb(37, 238, 37);">+ 0.020</td>
                                    <td style="font-weight: bold; color: rgb(37, 238, 37);">+ 1.560%</td>
                                    <td style="font-weight: bold;">86,500</td>
                                    <td style="font-weight: bold; color: rgb(37, 238, 37);">$10,814.250</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">                
                <div class="box">                
                    <div class="box-header with-border">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. when an unknown printer took a galley of type and scrambled it to make a type specimen book. when an unknown printer took a galley of type and scrambled it to make a type specimen book. when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
            <div class="col-md-3">                
                <div class="box">                
                    <div class="box-header with-border">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="text-left col-sm-5">Name:</label>
                                <label class="text-right col-sm-7" style="font-weight: normal !important;">Tom Clarke</label>
                            </div>
                            <div class="form-group">
                                <label class="text-left col-sm-5">User ID:</label>
                                <label class="text-right col-sm-7" style="font-weight: normal !important;">@tclarke</label>
                            </div>
                            <div class="form-group">
                                <label class="text-left col-sm-5">Location:</label>
                                <label class="text-right col-sm-7" style="font-weight: normal !important;">Los Angeles, CA</label>
                            </div>
                            <div class="form-group">
                                <label class="text-left col-sm-5">Birthdate:</label>
                                <label class="text-right col-sm-7" style="font-weight: normal !important;">21st Sep</label>
                            </div>
                            <div class="form-group">
                                <label class="text-left col-sm-5">Date Joined:</label>
                                <label class="text-right col-sm-7" style="font-weight: normal !important;">10-18-2016</label>
                            </div>
                            <div class="form-group">
                                <label class="text-left col-sm-5">Profession:</label>
                                <label class="text-right col-sm-7" style="font-weight: normal !important;">IT Engineer</label>
                            </div>
                            <div class="form-group">
                                <label class="text-left col-sm-5">Pofile Views:</label>
                                <label class="text-right col-sm-7" style="font-weight: normal !important;">114</label>
                            </div>
                            <div class="form-group">
                                <label class="text-left col-sm-5">Investors:</label>
                                <label class="text-right col-sm-7" style="font-weight: normal !important;">36</label>
                            </div>
                            <div class="form-group">
                                <label class="text-left col-sm-5">Investiments:</label>
                                <label class="text-right col-sm-7" style="font-weight: normal !important;">32</label>
                            </div>
                            <div class="form-group">
                                <label class="text-left col-sm-5">Postings:</label>
                                <label class="text-right col-sm-7" style="font-weight: normal !important;">14</label>
                            </div>
                            <div class="form-group">
                                <label class="text-left col-sm-5">Services Offered:</label>
                                <label class="text-right col-sm-7" style="font-weight: normal !important;">
                                    #Datacenter design
                                    #Virtualization
                                    #Network storage
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="text-left col-sm-5">Services Needed:</label>
                                <label class="text-right col-sm-7" style="font-weight: normal !important;">
                                    #Architect <br>
                                    #Home builder <br>
                                    #Real estate broker
                                </label>
                            </div>
                        </form>
                        <hr>
                        <div class="text-center pull-right">       
                            <a href="#"><i id="social-gp" style="padding-right: 4px;" class="fa fa-globe fa-2x social"></i></a>
                            <a href="#"><i id="social-tw" style="padding-right: 4px;" class="fa fa-twitter-square fa-2x social"></i></a>
                            <a href="#"><i id="social-em" style="padding-right: 4px;" class="fa fa-bell fa-2x social"></i></a>
                            <a href="#"><i id="social-fb" style="padding-right: 4px;" class="fa fa-facebook-square fa-2x social"></i></a>
                            <a href="#"><i id="social-tw" style="padding-right: 4px;" class="fa fa-twitter-square fa-2x social"></i></a>
                            <a href="#"><i id="social-gp" style="padding-right: 4px;" class="fa fa-google-plus-square fa-2x social"></i></a>
                            <a href="#"><i id="social-em" style="padding-right: 4px;" class="fa fa-envelope-square fa-2x social"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9" style="height: 700px;">                
                <div class="box">                
                    <div class="box-header with-border">
                        <label class="text-left col-sm-2">Share an update</label>
                        <label class="text-left col-sm-10">Upload a photo</label>
                        <div class="col-xs-11" style="padding-left: 0px !important; padding-right: 0px !important;">
                            <input class="form-control" id="ex1" type="text">
                        </div>
                        <div class="col-xs-1">
                            <button class="btn btn-primary">Share</button>
                        </div>                        
                    </div>
                    <div style="padding: 10px;">
                        <div style="border-radius: 10px; background-color: rgb(248, 248, 238);">
                                <a _ngcontent-mqb-c1="" class="dropdown-toggle" data-toggle="dropdown" href="#"><img _ngcontent-mqb-c1="" alt="User Image" style="height: 25px !important; width: 25px !important;" class="user-image" src="././././assets/images/user2-160x160.jpg"><span _ngcontent-mqb-c1="" class="hidden-xs">Alexander Pierce</span></a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>                    
                        </div>
                        <div style="border-radius: 10px; background-color: rgb(248, 248, 238);">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>                    
                        </div>
                        <div style="border-radius: 10px; background-color: rgb(248, 248, 238);">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>                    
                        </div>
                        <div style="border-radius: 10px; background-color: rgb(248, 248, 238);">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>