<!-- <table class="table">
    <tr>
        <td rowspan="5">Services Offered</td>
        <td>
            <span *ngIf="!servicesOffered[0].ServiceName">
                <input type="text" [(ngModel)]="selectedO1" (keyup)="serviceOfferedKeyUp($event, 1)"
                    [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServices" typeaheadOptionField="ServiceName">
            </span>
            <span *ngIf="servicesOffered[0].ServiceName">{{servicesOffered[0].ServiceName}}
                ({{servicesOffered[0].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesOffered[1].ServiceName">
                <input type="text" [(ngModel)]="selectedO2" (keyup)="serviceOfferedKeyUp($event, 1)"
                     typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServices" typeaheadOptionField="ServiceName">
            </span>
            <span *ngIf="servicesOffered[1].ServiceName">{{servicesOffered[1].ServiceName}}
                ({{servicesOffered[1].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesOffered[2].ServiceName">
                <input type="text" [(ngModel)]="selectedO3" (keyup)="serviceOfferedKeyUp($event, 1)"
                    [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServices" typeaheadOptionField="ServiceName">
            </span>
            <span *ngIf="servicesOffered[2].ServiceName">{{servicesOffered[2].ServiceName}}
                ({{servicesOffered[2].ServiceMatchCount}})</span>
        </td>

    </tr>
    <tr>
        <td>
            <span *ngIf="!servicesOffered[3].ServiceName">
                <input type="text" [(ngModel)]="selectedO4" (keyup)="serviceOfferedKeyUp($event, 1)"
                    [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServices" typeaheadOptionField="ServiceName">
            </span>
            <span *ngIf="servicesOffered[3].ServiceName">{{servicesOffered[3].ServiceName}}
                ({{servicesOffered[3].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesOffered[4].ServiceName">
                <input type="text" [(ngModel)]="selectedO5" (keyup)="serviceOfferedKeyUp($event, 1)"
                    [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServices" typeaheadOptionField="ServiceName">
            </span>
            <span *ngIf="servicesOffered[4].ServiceName">{{servicesOffered[4].ServiceName}}
                ({{servicesOffered[4].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesOffered[5].ServiceName">
                <input type="text" [(ngModel)]="selectedO6" (keyup)="serviceOfferedKeyUp($event, 1)"
                    [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServices" typeaheadOptionField="ServiceName">
            </span>
            <span *ngIf="servicesOffered[5].ServiceName">{{servicesOffered[5].ServiceName}}
                ({{servicesOffered[5].ServiceMatchCount}})</span>
        </td>

    </tr>
    <tr>
        <td>
            <span *ngIf="!servicesOffered[6].ServiceName">
                <input type="text" [(ngModel)]="selectedO7" (keyup)="serviceOfferedKeyUp($event, 1)"
                    [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServices" typeaheadOptionField="ServiceName">
            </span>
            <span *ngIf="servicesOffered[6].ServiceName">{{servicesOffered[6].ServiceName}}
                ({{servicesOffered[6].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesOffered[7].ServiceName">
                <input type="text" [(ngModel)]="selectedO8" (keyup)="serviceOfferedKeyUp($event, 1)"
                    [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServices" typeaheadOptionField="ServiceName">
            </span>
            <span *ngIf="servicesOffered[7].ServiceName">{{servicesOffered[7].ServiceName}}
                ({{servicesOffered[7].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesOffered[8].ServiceName">
                <input type="text" [(ngModel)]="selectedO9" (keyup)="serviceOfferedKeyUp($event, 1)"
                    [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServices" typeaheadOptionField="ServiceName">
            </span>
            <span *ngIf="servicesOffered[8].ServiceName">{{servicesOffered[8].ServiceName}}
                ({{servicesOffered[8].ServiceMatchCount}})</span>
        </td>

    </tr>
    <tr>
        <td>
            <span *ngIf="!servicesOffered[9].ServiceName">
                <input type="text" [(ngModel)]="selectedO10" (keyup)="serviceOfferedKeyUp($event, 1)"
                    [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServices" typeaheadOptionField="ServiceName">
            </span>
            <span *ngIf="servicesOffered[9].ServiceName">{{servicesOffered[9].ServiceName}}
                ({{servicesOffered[9].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesOffered[10].ServiceName">
                <input type="text" [(ngModel)]="selectedO11" (keyup)="serviceOfferedKeyUp($event, 1)"
                    [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServices" typeaheadOptionField="ServiceName">
            </span>
            <span *ngIf="servicesOffered[10].ServiceName">{{servicesOffered[10].ServiceName}}
                ({{servicesOffered[10].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesOffered[11].ServiceName">
                <input type="text" [(ngModel)]="selectedO12" (keyup)="serviceOfferedKeyUp($event, 1)"
                    [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServices" typeaheadOptionField="ServiceName">
            </span>
            <span *ngIf="servicesOffered[11].ServiceName">{{servicesOffered[11].ServiceName}}
                ({{servicesOffered[11].ServiceMatchCount}})</span>
        </td>

    </tr>
    <tr>
        <td>
            <span *ngIf="!servicesOffered[12].ServiceName">
                <input type="text" 
                [(ngModel)]="selectedO13" 
                (keyup)="serviceOfferedKeyUp($event, 1)"
                [typeaheadAsync]="true" 
                typeaheadWaitMs="1000" 
                (typeaheadOnSelect)="typeaheadOnSelect($event)" 
                [typeahead]="allServices" 
                typeaheadOptionField="ServiceName">
            </span>
            <span *ngIf="servicesOffered[12].ServiceName">{{servicesOffered[12].ServiceName}}
                ({{servicesOffered[12].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesOffered[13].ServiceName">
                <input type="text" [(ngModel)]="selectedO14" (keyup)="serviceOfferedKeyUp($event, 1)"
                    [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServices" typeaheadOptionField="ServiceName">
            </span>
            <span *ngIf="servicesOffered[13].ServiceName">{{servicesOffered[13].ServiceName}}
                ({{servicesOffered[13].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesOffered[14].ServiceName">
                <input type="text" [(ngModel)]="selectedO15" (keyup)="serviceOfferedKeyUp($event, 1)"
                    [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServices" typeaheadOptionField="ServiceName">
            </span>
            <span *ngIf="servicesOffered[14].ServiceName">{{servicesOffered[14].ServiceName}}
                ({{servicesOffered[14].ServiceMatchCount}})</span>
        </td>

    </tr>
    <tr>
        <td rowspan="5">Services Needed</td>
        <td>
            <span *ngIf="!servicesNeeded[0].ServiceName"> 
                <input type="text"
                [(ngModel)]="selectedN1" 
                (keyup)="serviceOfferedKeyUp($event, 2)"
                [typeaheadAsync]="true" 
                typeaheadWaitMs="1000" 
                (typeaheadOnSelect)="typeaheadOnSelect($event)" 
                [typeahead]="allServices" 
                typeaheadOptionField="ServiceName"
                >
            </span>
            <span *ngIf="servicesNeeded[0].ServiceName">{{servicesNeeded[0].ServiceName}}
                ({{servicesNeeded[0].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesNeeded[1].ServiceName"> 
                <input type="text"
                [(ngModel)]="selectedN2" 
                (keyup)="serviceOfferedKeyUp($event, 2)"
                [typeaheadAsync]="true" 
                typeaheadWaitMs="1000" 
                (typeaheadOnSelect)="typeaheadOnSelect($event)" 
                [typeahead]="allServices" 
                typeaheadOptionField="ServiceName"
                ></span>
            <span *ngIf="servicesNeeded[1].ServiceName">{{servicesNeeded[1].ServiceName}}
                ({{servicesNeeded[1].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesNeeded[2].ServiceName"> 
                <input type="text"
                [(ngModel)]="selectedN3" 
                (keyup)="serviceOfferedKeyUp($event, 2)"
                [typeaheadAsync]="true" 
                typeaheadWaitMs="1000" 
                (typeaheadOnSelect)="typeaheadOnSelect($event)" 
                [typeahead]="allServices" 
                typeaheadOptionField="ServiceName"
                ></span>
            <span *ngIf="servicesNeeded[2].ServiceName">{{servicesNeeded[2].ServiceName}}
                ({{servicesNeeded[2].ServiceMatchCount}})</span>
        </td>

    </tr>
    <tr>
        <td>
            <span *ngIf="!servicesNeeded[3].ServiceName"> 
                <input type="text"
                [(ngModel)]="selectedN4" 
                (keyup)="serviceOfferedKeyUp($event, 2)"
                [typeaheadAsync]="true" 
                typeaheadWaitMs="1000" 
                (typeaheadOnSelect)="typeaheadOnSelect($event)" 
                [typeahead]="allServices" 
                typeaheadOptionField="ServiceName"
                ></span>
            <span *ngIf="servicesNeeded[3].ServiceName">{{servicesNeeded[3].ServiceName}}
                ({{servicesNeeded[3].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesNeeded[4].ServiceName"> 
                <input type="text"
                [(ngModel)]="selectedN5" 
                (keyup)="serviceOfferedKeyUp($event, 2)"
                [typeaheadAsync]="true" 
                typeaheadWaitMs="1000" 
                (typeaheadOnSelect)="typeaheadOnSelect($event)" 
                [typeahead]="allServices" 
                typeaheadOptionField="ServiceName"
                ></span>
            <span *ngIf="servicesNeeded[4].ServiceName">{{servicesNeeded[4].ServiceName}}
                ({{servicesNeeded[4].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesNeeded[5].ServiceName"> 
                <input type="text"
                [(ngModel)]="selectedN6" 
                (keyup)="serviceOfferedKeyUp($event, 2)"
                [typeaheadAsync]="true" 
                typeaheadWaitMs="1000" 
                (typeaheadOnSelect)="typeaheadOnSelect($event)" 
                [typeahead]="allServices" 
                typeaheadOptionField="ServiceName"
                ></span>
            <span *ngIf="servicesNeeded[5].ServiceName">{{servicesNeeded[5].ServiceName}}
                ({{servicesNeeded[5].ServiceMatchCount}})</span>
        </td>

    </tr>
    <tr>
        <td>
            <span *ngIf="!servicesNeeded[6].ServiceName"> 
                <input type="text"
                [(ngModel)]="selectedN7" 
                (keyup)="serviceOfferedKeyUp($event, 2)"
                [typeaheadAsync]="true" 
                typeaheadWaitMs="1000" 
                (typeaheadOnSelect)="typeaheadOnSelect($event)" 
                [typeahead]="allServices" 
                typeaheadOptionField="ServiceName"
                ></span>
            <span *ngIf="servicesNeeded[6].ServiceName">{{servicesNeeded[6].ServiceName}}
                ({{servicesNeeded[6].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesNeeded[7].ServiceName"> 
                <input type="text"
                [(ngModel)]="selectedN8" 
                (keyup)="serviceOfferedKeyUp($event, 2)"
                [typeaheadAsync]="true" 
                typeaheadWaitMs="1000" 
                (typeaheadOnSelect)="typeaheadOnSelect($event)" 
                [typeahead]="allServices" 
                typeaheadOptionField="ServiceName"
                ></span>
            <span *ngIf="servicesNeeded[7].ServiceName">{{servicesNeeded[7].ServiceName}}
                ({{servicesNeeded[7].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesNeeded[8].ServiceName"> 
                <input type="text"
                [(ngModel)]="selectedN9" 
                (keyup)="serviceOfferedKeyUp($event, 2)"
                [typeaheadAsync]="true" 
                typeaheadWaitMs="1000" 
                (typeaheadOnSelect)="typeaheadOnSelect($event)" 
                [typeahead]="allServices" 
                typeaheadOptionField="ServiceName"
                ></span>
            <span *ngIf="servicesNeeded[8].ServiceName">{{servicesNeeded[8].ServiceName}}
                ({{servicesNeeded[8].ServiceMatchCount}})</span>
        </td>

    </tr>
    <tr>
        <td>
            <span *ngIf="!servicesNeeded[9].ServiceName"> 
                <input type="text"
                [(ngModel)]="selectedN10" 
                (keyup)="serviceOfferedKeyUp($event, 2)"
                [typeaheadAsync]="true" 
                typeaheadWaitMs="1000" 
                (typeaheadOnSelect)="typeaheadOnSelect($event)" 
                [typeahead]="allServices" 
                typeaheadOptionField="ServiceName"
                ></span>
            <span *ngIf="servicesNeeded[9].ServiceName">{{servicesNeeded[9].ServiceName}}
                ({{servicesNeeded[9].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesNeeded[10].ServiceName"> 
                <input type="text"
                [(ngModel)]="selectedN11" 
                (keyup)="serviceOfferedKeyUp($event, 2)"
                [typeaheadAsync]="true" 
                typeaheadWaitMs="1000" 
                (typeaheadOnSelect)="typeaheadOnSelect($event)" 
                [typeahead]="allServices" 
                typeaheadOptionField="ServiceName"
                ></span>
            <span *ngIf="servicesNeeded[10].ServiceName">{{servicesNeeded[10].ServiceName}}
                ({{servicesNeeded[10].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesNeeded[11].ServiceName"> 
                <input type="text"
                [(ngModel)]="selectedN12" 
                (keyup)="serviceOfferedKeyUp($event, 2)"
                [typeaheadAsync]="true" 
                typeaheadWaitMs="1000" 
                (typeaheadOnSelect)="typeaheadOnSelect($event)" 
                [typeahead]="allServices" 
                typeaheadOptionField="ServiceName"
                ></span>
            <span *ngIf="servicesNeeded[11].ServiceName">{{servicesNeeded[11].ServiceName}}
                ({{servicesNeeded[11].ServiceMatchCount}})</span>
        </td>

    </tr>
    <tr>
        <td>
            <span *ngIf="!servicesNeeded[12].ServiceName"> 
                <input type="text"
                [(ngModel)]="selectedN13" 
                (keyup)="serviceOfferedKeyUp($event, 2)"
                [typeaheadAsync]="true" 
                typeaheadWaitMs="1000" 
                (typeaheadOnSelect)="typeaheadOnSelect($event)" 
                [typeahead]="allServices" 
                typeaheadOptionField="ServiceName"
                ></span>
            <span *ngIf="servicesNeeded[12].ServiceName">{{servicesNeeded[12].ServiceName}}
                ({{servicesNeeded[12].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesNeeded[13].ServiceName"> 
                <input type="text"
                [(ngModel)]="selectedN14" 
                (keyup)="serviceOfferedKeyUp($event, 2)"
                [typeaheadAsync]="true" 
                typeaheadWaitMs="1000" 
                (typeaheadOnSelect)="typeaheadOnSelect($event)" 
                [typeahead]="allServices" 
                typeaheadOptionField="ServiceName"
                ></span>
            <span *ngIf="servicesNeeded[13].ServiceName">{{servicesNeeded[13].ServiceName}}
                ({{servicesNeeded[13].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesNeeded[14].ServiceName"> 
                <input type="text"
                [(ngModel)]="selectedN15" 
                (keyup)="serviceOfferedKeyUp($event, 2)"
                [typeaheadAsync]="true" 
                typeaheadWaitMs="1000" 
                (typeaheadOnSelect)="typeaheadOnSelect($event)" 
                [typeahead]="allServices" 
                typeaheadOptionField="ServiceName"
                ></span>
            <span *ngIf="servicesNeeded[14].ServiceName">{{servicesNeeded[14].ServiceName}}
                ({{servicesNeeded[14].ServiceMatchCount}})</span>
        </td>

    </tr>
    <tr>
        <td rowspan="5">Services Interested</td>
        <td>
            <span *ngIf="!servicesInterested[0].ServiceName"> <input type="text"></span>
            <span *ngIf="servicesInterested[0].ServiceName">{{servicesInterested[0].ServiceName}}
                ({{servicesInterested[0].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesInterested[1].ServiceName"> <input type="text"></span>
            <span *ngIf="servicesInterested[1].ServiceName">{{servicesInterested[1].ServiceName}}
                ({{servicesInterested[1].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesInterested[2].ServiceName"> <input type="text"></span>
            <span *ngIf="servicesInterested[2].ServiceName">{{servicesInterested[2].ServiceName}}
                ({{servicesInterested[2].ServiceMatchCount}})</span>
        </td>

    </tr>
    <tr>
        <td>
            <span *ngIf="!servicesInterested[3].ServiceName"> <input type="text"></span>
            <span *ngIf="servicesInterested[3].ServiceName">{{servicesInterested[3].ServiceName}}
                ({{servicesInterested[3].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesInterested[4].ServiceName"> <input type="text"></span>
            <span *ngIf="servicesInterested[4].ServiceName">{{servicesInterested[4].ServiceName}}
                ({{servicesInterested[4].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesInterested[5].ServiceName"> <input type="text"></span>
            <span *ngIf="servicesInterested[5].ServiceName">{{servicesInterested[5].ServiceName}}
                ({{servicesInterested[5].ServiceMatchCount}})</span>
        </td>

    </tr>
    <tr>
        <td>
            <span *ngIf="!servicesInterested[6].ServiceName"> <input type="text"></span>
            <span *ngIf="servicesInterested[6].ServiceName">{{servicesInterested[6].ServiceName}}
                ({{servicesInterested[6].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesInterested[7].ServiceName"> <input type="text"></span>
            <span *ngIf="servicesInterested[7].ServiceName">{{servicesInterested[7].ServiceName}}
                ({{servicesInterested[7].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesInterested[8].ServiceName"> <input type="text"></span>
            <span *ngIf="servicesInterested[8].ServiceName">{{servicesInterested[8].ServiceName}}
                ({{servicesInterested[8].ServiceMatchCount}})</span>
        </td>

    </tr>
    <tr>
        <td>
            <span *ngIf="!servicesInterested[9].ServiceName"> <input type="text"></span>
            <span *ngIf="servicesInterested[9].ServiceName">{{servicesInterested[9].ServiceName}}
                ({{servicesInterested[9].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesInterested[10].ServiceName"> <input type="text"></span>
            <span *ngIf="servicesInterested[10].ServiceName">{{servicesInterested[10].ServiceName}}
                ({{servicesInterested[10].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesInterested[11].ServiceName"> <input type="text"></span>
            <span *ngIf="servicesInterested[11].ServiceName">{{servicesInterested[11].ServiceName}}
                ({{servicesInterested[11].ServiceMatchCount}})</span>
        </td>

    </tr>
    <tr>
        <td>
            <span *ngIf="!servicesInterested[12].ServiceName"> <input type="text"></span>
            <span *ngIf="servicesInterested[12].ServiceName">{{servicesInterested[12].ServiceName}}
                ({{servicesInterested[12].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesInterested[13].ServiceName"> <input type="text"></span>
            <span *ngIf="servicesInterested[13].ServiceName">{{servicesInterested[13].ServiceName}}
                ({{servicesInterested[13].ServiceMatchCount}})</span>
        </td>
        <td>
            <span *ngIf="!servicesInterested[14].ServiceName"> <input type="text"></span>
            <span *ngIf="servicesInterested[14].ServiceName">{{servicesInterested[14].ServiceName}}
                ({{servicesInterested[14].ServiceMatchCount}})</span>
        </td>

    </tr>
</table> -->
<div class="wrapper">

    <div class="content-wrapper">
        <section class="content">
            <div class="box">
                <!-- <div>
                    <p class="success-msg"></p>
                </div>
                <div>
                    <p class="error-msg"></p>
                </div> -->

                <table class="table table-td-dotted" style="border-spacing: 5px;">
                    <tr>
                        <td [style.background-color]="'#eef2e6'" style="width: 175px; padding: 30px;border: 1px dotted #dfe2d7;" class="w-d-block">
                            <span class="f-22">Services Offered</span>
                        </td>
                        <td class="p-0-b-0 w-d-block">
                            <table class="table inner__">
                                <tr>
                                    <td *ngFor="let service of servicesOffered.slice(0, 3)">
                                        <div *ngIf="service.ServiceName">
                                            <a class="" [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                                {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                            </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                                    class="fa fa-remove"
                                                    style="font-size: 15px;margin-left: 6px;"></i></a>
                                        </div>
                                        <div *ngIf="!(service.ServiceName)">
                                            <input type="text" placeholder="Enter Service" [(ngModel)]="asyncSelectedO" (keyup)="serviceOfferedKeyUp($event, 1)" [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServicesO" typeaheadOptionField="ServiceName">
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td *ngFor="let service of servicesOffered.slice(3, 6)">
                                        <a class="" [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                            {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                        </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                                class="fa fa-remove" style="font-size: 15px;margin-left: 6px;"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td *ngFor="let service of servicesOffered.slice(6, 9)">
                                        <a class="" [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                            {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                        </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                                class="fa fa-remove" style="font-size: 15px;margin-left: 6px;"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td *ngFor="let service of servicesOffered.slice(9, 12)">
                                        <a class="" [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                            {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                        </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                                class="fa fa-remove" style="font-size: 15px;margin-left: 6px;"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td *ngFor="let service of servicesOffered.slice(12, 15)">
                                        <a class="" [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                            {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                        </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                                class="fa fa-remove" style="font-size: 15px;margin-left: 6px;"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td [style.background-color]="'#ddf2f7'" style="padding: 30px;border: 1px dotted #d2e5e8;" class="w-d-block">
                           
                            <span class="f-22">Services Needed</span>
                        </td>
                        <td class="p-0-b-0 w-d-block">
                            <table class="table inner__">
                                <tr>
                                    <td *ngFor="let service of servicesNeeded.slice(0, 3)">
                                        <div *ngIf="service.ServiceName">
                                            <a class="" [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                                {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                            </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                                    class="fa fa-remove"
                                                    style="font-size: 15px;margin-left: 6px;"></i></a>
                                        </div>
                                        <div *ngIf="!service.ServiceName">
                                            <input type="text" placeholder="Enter Service" [(ngModel)]="asyncSelectedN" (keyup)="serviceOfferedKeyUp($event, 2)" [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServicesN" typeaheadOptionField="ServiceName">
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td *ngFor="let service of servicesNeeded.slice(3, 6)">
                                        <a class="" [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                            {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                        </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                                class="fa fa-remove" style="font-size: 15px;margin-left: 6px;"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td *ngFor="let service of servicesNeeded.slice(6, 9)">
                                        <a class="" [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                            {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                        </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                                class="fa fa-remove" style="font-size: 15px;margin-left: 6px;"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td *ngFor="let service of servicesNeeded.slice(9, 12)">
                                        <a class="" [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                            {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                        </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                                class="fa fa-remove" style="font-size: 15px;margin-left: 6px;"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td *ngFor="let service of servicesNeeded.slice(12, 15)">
                                        <a class="" [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                            {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                        </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                                class="fa fa-remove" style="font-size: 15px;margin-left: 6px;"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td [style.background-color]="'#eee9f8'" style="padding: 30px;border: 1px dotted #e4dfee;" class="w-d-block">
                           
                            <span class="f-22">Services Interest</span>
                        </td>
                        <td class="p-0-b-0 w-d-block">
                            <table class="table inner__">
                                <tr>
                                    <td *ngFor="let service of servicesInterested.slice(0, 3)">
                                        <div *ngIf="service.ServiceName">
                                            <a [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                                {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                            </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                                    class="fa fa-remove"
                                                    style="font-size: 15px;margin-left: 6px;"></i></a>
                                        </div>
                                        <div *ngIf="!service.ServiceName">
                                            <input type="text" placeholder="Enter Service" [(ngModel)]="asyncSelectedI" (keyup)="serviceOfferedKeyUp($event, 3)" [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServicesI" typeaheadOptionField="ServiceName">
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td *ngFor="let service of servicesInterested.slice(3, 6)">
                                        <a class="" [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                            {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                        </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                                class="fa fa-remove" style="font-size: 15px;margin-left: 6px;"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td *ngFor="let service of servicesInterested.slice(6, 9)">
                                        <a class="" [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                            {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                        </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                                class="fa fa-remove" style="font-size: 15px;margin-left: 6px;"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td *ngFor="let service of servicesInterested.slice(9, 12)">
                                        <a class="" [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                            {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                        </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                                class="fa fa-remove" style="font-size: 15px;margin-left: 6px;"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td *ngFor="let service of servicesInterested.slice(12, 15)">
                                        <a class="" [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                            {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                        </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                                class="fa fa-remove" style="font-size: 15px;margin-left: 6px;"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- <div class="row align-middle">
                    <div class="col-md-3 ">
                        Services Offered
                    </div>
                    <div class="col-md-9">
                        <ul>
                            <li *ngIf="servicesOffered.length < 15">
                                <input type="text" [(ngModel)]="asyncSelectedO" (keyup)="serviceOfferedKeyUp($event, 1)" [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServicesO" typeaheadOptionField="ServiceName">
                            </li>
                            <li *ngFor="let service of servicesOffered">
                                <a class="btn btn-default" [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                    {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                        class="fa fa-remove" style="font-size: 15px;margin-left: 6px;"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 my-auto">
                        Services Needed
                    </div>
                    <div class="col-md-9">
                        <ul>
                            <li *ngIf="servicesNeeded.length < 15">
                                <input type="text" [(ngModel)]="asyncSelectedN" (keyup)="serviceOfferedKeyUp($event, 2)" [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServicesN" typeaheadOptionField="ServiceName">
                            </li>
                            <li *ngFor="let service of servicesNeeded">
                                <a class="btn btn-default" [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                    {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                        class="fa fa-remove" style="font-size: 15px;margin-left: 6px;"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 my-auto">
                        Services Interest
                    </div>
                    <div class="col-md-9">
                        <ul>
                            <li *ngIf="servicesInterested.length < 15">
                                <input type="text" [(ngModel)]="asyncSelectedI" (keyup)="serviceOfferedKeyUp($event, 3)" [typeaheadAsync]="true" typeaheadWaitMs="1000" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="allServicesI" typeaheadOptionField="ServiceName">
                            </li>
                            <li *ngFor="let service of servicesInterested">
                                <a class="btn btn-default" [routerLink]="['/profileinfo/searchsummary']" [queryParams]="{ searchTerm: service.ServiceName}">
                                    {{service.ServiceName}} ({{service.ServiceMatchCount}})
                                </a> <a href="javascript:void(0)" (click)="removeServices(service)"><i
                                        class="fa fa-remove" style="font-size: 15px;margin-left: 6px;"></i></a>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>

        </section>
    </div>
    <!-- <footer class="main-footer">
        <div class="pull-right ">
            <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Site map</a>
        </div>
        Copyright 2019 All Right Reserved
    </footer> -->
</div>