ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

ul li {
    list-style: none;
    padding: 10px;
}

.success-msg {
    font-size: 16px;
    color: #d4edda;
    margin-bottom: 10px;
}

.error-msg {
    font-size: 16px;
    color: red;
    margin-bottom: 10px;
}