.is-invalid{
    border-color: red;
}
.rating-err{
    font-size: 16px;
    padding-bottom: 16px;
    text-align: center;
}
.reviewcontenttextdisplay{
    line-height: 24px;
}
.show {
    overflow: visible;
    height: auto;
}