
.fa-comments-o{
	    font-size: 22px;
    vertical-align: middle;
    color: #000;
    margin-left: 20px;
}
.reviewname{
	font-size: 18px;
    border-bottom: 2px solid #3c8dbc;
    padding-bottom: 2px;
}