
.fa-comments-o{
	    font-size: 22px;
    vertical-align: middle;
    color: #000;
    margin-left: 20px;
}
.reviewname{
	cursor:pointer;
    padding-bottom: 2px;
    margin-top: 8px;
    display: block;
    text-transform: uppercase;
    padding-left: 10px;
}