<div class="container">
    <div class="login-screen">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h3 class="auth-header">Register</h3>
                <div *ngIf="successMsg" class="text-center">
                    <p class="success-msg">{{successMsg}}</p>
                </div>
                <div *ngIf="errorMsg" class="text-center">
                    <p class="error-msg">{{errorMsg}}</p>
                </div>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <!-- <label for="displayName">Display Name</label> -->
                        <input type="text" placeholder="Display Name" formControlName="displayName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.displayName.errors }" />
                        <div class="pre-icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <div *ngIf="f.displayName.errors" class="invalid-feedback">
                            <div *ngIf="(submitted || f.displayName.dirty || f.displayName.touched) && f.displayName.errors.required">
                                Display Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="email">Email</label> -->
                        <input type="text" placeholder="Email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div class="pre-icon">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <div *ngIf="f.email.errors" class="invalid-feedback">
                            <div *ngIf="(submitted || f.email.dirty || f.email.touched) && f.email.errors.required">
                                Email is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="password">Password</label> -->
                        <input placeholder="Password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div class="pre-icon">
                            <i class="fa fa-lock"></i>
                        </div>
                        <div *ngIf="f.password.errors" class="invalid-feedback">
                            <div *ngIf="(submitted || f.password.dirty || f.password.touched) && f.password.errors.required">
                                Password is required</div>
                            <div *ngIf="(submitted || f.password.dirty || f.password.touched) && f.password.errors.minlength">
                                Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="age">Age</label> -->

                        <input type="number" placeholder="Age" formControlName="age" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.age.errors }" min="1" max="130" />
                        <div class="pre-icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div *ngIf="f.age.errors" class="invalid-feedback">
                            <div *ngIf="(submitted || f.age.dirty || f.age.touched) && f.age.errors.required">
                                Age is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="city">City</label> -->

                        <input type="text" placeholder="City" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                        <div class="pre-icon">
                            <i class="fa fa-address-book-o"></i>
                        </div>
                        <div *ngIf="f.city.errors" class="invalid-feedback">
                            <div *ngIf="(submitted || f.city.dirty || f.city.touched) && f.city.errors.required">
                                City is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <re-captcha  (resolved)="resolved($event)" formControlName="recaptchaReactive"  [ngClass]="{ 'is-invalid': submitted && f.recaptchaReactive.errors }"
                        siteKey="6Lf1urQUAAAAAD62TsJOABI_Tfmeriu3Kyn3GbDS"></re-captcha>
                        <div *ngIf="f.recaptchaReactive.errors" class="invalid-feedback">
                                <div *ngIf="(submitted || f.recaptchaReactive.dirty || f.recaptchaReactive.touched) && f.recaptchaReactive.errors.required">
                                        Captcha is required</div>
                            </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Register
                        </button>
                        <a routerLink="/login" class="btn btn-warning"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Go Back Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>