body {
    background: #ecf0f5;
}
            
.gal-container {
	padding: 12px;
}

.fa-2x {
    font-size:1.4em !important;
}

@media(max-width:320px){
.navmobile{
	margin-top: 7px;
	width:68% !important;
}
}
.circle1 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
	margin: 5px;
    color: #0ca6ff;
    background: #fff;
    text-align: center;
    position: relative;
}
.circle1 h3{
	position: absolute;
    left: 50%;
    top: 50%;
    color:#f00;
    transform: translate(-50%, -50%);
    margin: 0px;
    font-size: 55px;
    line-height: normal;
    font-weight: 700;
}

.cover-img h4{
	background: #fff;

padding: 4px;

border-radius: 3px;

text-align: center;

font-weight: bold;
}

.control1{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #ffffffb5;
    background-image: none;
    border: 1px solid #00000012;
        border-top-color: rgba(0, 0, 0, 0.07);
        border-right-color: rgba(0, 0, 0, 0.07);
        border-bottom-color: rgba(0, 0, 0, 0.07);
        border-left-color: rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

@media (max-width:768px) {
    .gal-item {
       width:34.3333%
    }
}

@media (max-width:480px) {
    .gal-item {
       width:100%
    }
}




.sbtn{
	background-color: #f5f9fb6e !important;
}

.gal-item {
	overflow: hidden;
	padding: 6px;
	width: 10%;
}

.gal-item .box {
	height: 100px;
	overflow: hidden;
	padding: 0px;
}
.box img {
    height: 100px;
    width: 100px;
    overflow: hidden;
    object-fit: cover;
    -o-object-fit: cover;
}

.gal-item a:focus {
	outline: none;
}

.gal-item a:after {
	content: "\e003";
	font-family: 'Glyphicons Halflings';
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
	line-height: 350px;
	font-size: 30px;
	color: #fff;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}

.gal-item a:hover:after {
	opacity: 1;
}

.modal-open .gal-container .modal {
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-open .gal-item .modal-body {
	padding: 0px;
}

.modal-open .gal-item button.close {
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #000;
	opacity: 1;
	color: #fff;
	z-index: 999;
	right: -12px;
	top: -12px;
	border-radius: 50%;
	font-size: 15px;
	border: 2px solid #fff;
	line-height: 25px;
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35);
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35);
}

.modal-open .gal-item button.close:focus {
	outline: none;
}

.modal-open .gal-item button.close span {
	position: relative;
	top: -3px;
	font-weight: lighter;
	text-shadow: none;
}

.gal-container .modal-dialogue {
	width: 80%;
}

.gal-container .description {
	position: relative;
	height: 40px;
	top: -40px;
	padding: 10px 25px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: left;
}

.gal-container .description h4 {
	margin: 0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}

.gal-container .modal.fade .modal-dialog {
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	-ms-transform: scale(0.1);
	transform: scale(0.1);
	top: 100px;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transform: translate3d(0, -100px, 0);
	transform: translate3d(0, -100px, 0);
	opacity: 1;
}

@media (min-width: 768px) {
	.gal-container .modal-dialog {
		width: 55%;
		margin: 50 auto;
	}
}

@media (max-width: 768px) {
	.gal-container .modal-content {
		height: 250px;
	}
}
/* Footer Style */

i.red {
	color: #BC0213;
}

.gal-container {
	padding-top: 75px;
	padding-bottom: 75px;
}
.span4 {
	font-weight: normal !important;
	vertical-align: top;
	text-decoration: inherit;
}
.span4 img {
	margin: 10px;
	width: 16%;
	height: 16%;	
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}