<div class="socail-links ">
    <div class="row">
        <div class="col-md-7 ">
            <div class="location_top" *ngIf="displayDataProfile">
                <div class="services_main align-items-top">
                    
                    <div class="icon"><i class="fa fa-cog" aria-hidden="true"></i></div>
                    <!-- <img src="../../../assets/images/time.svg" class="l-o-icon occupation-icon" /> -->
                    <div class="btn service-offered l-t-o-link" *ngIf="!isOccupationInEditMode; else elseOccBlock">
                        {{displayDataProfile.Occupation}} <button class="btn-normal-link" *ngIf="isEditbale"
                            (click)="enableoccupationedit()"><i class="fa fa-pencil-square-o"></i></button>
                    </div>

                    <!-- <img src="../../../assets/images/location.svg" class="l-o-icon" /> -->
                    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="btn service-offered l-t-o-link" *ngIf="!isCityInEditMode; else elseCityBlock">
                        {{displayDataProfile.City}} <button class="btn-normal-link" *ngIf="isEditbale"
                            (click)="enablecityedit()">
                            <i class="fa fa-pencil-square-o"></i></button></div>

                    <!-- <img src="../../../assets/images/time.svg" class="l-o-icon occupation-icon" /> -->
                    <div class="icon"> <i class="fa fa-calendar" aria-hidden="true"></i></div>
                    <div class="service-offered l-t-o-link">Joined {{displayDataProfile.CreatedOn | date : "MMMM - y"}}
                    </div>
                </div>
                <ng-template #elseCityBlock>
                    <div class="edit-box">
                        <input type="text" [(ngModel)]="userCity" class="form-control" required>
                        <div class="text-edit-footer">
                            <button class="btn btn-primary" (click)="updatecityvalue()">Update</button>
                            <button class="btn btn-custom ml-3" (click)="oncitycancel()">Cancel</button>
                        </div>
                    </div>
                </ng-template>
                <ng-template #elseOccBlock>
                    <div class="edit-box">
                        <input type="text" [(ngModel)]="UserOccupation" class="form-control" required>
                        <div class="text-edit-footer">
                            <button class="btn btn-primary" (click)="updateoccupationvalue()">Update</button>
                            <button class="btn btn-custom ml-3" (click)="onoccupationcancel()">Cancel</button>
                        </div>
                    </div>
                </ng-template>

            </div>
        </div>
        <div class="col-md-5 right-socail-links text-right">
            <div class="social-inputbox" *ngIf="postLayoutType!='' && isEditbale">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{PlaceHolder}}" name="link" [(ngModel)]="socialLink"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" (click)="SubmitSocialLink()"><i
                                class="fa fa-check" aria-hidden="true"></i></button>
                        <button class="btn btn-outline-secondary" type="button" (click)="onCancelSocial()"><i
                                class="fa fa-remove"></i></button>
                    </div>
                </div>
            </div>
            <div *ngIf="isEditbale">
                <a (click)="showSocialLayout('g')" class="web"><img src="../assets/images/globe.svg"></a>
                <a (click)="showSocialLayout('tw')" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a (click)="showSocialLayout('fb')" class="facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a (click)="showSocialLayout('lnk')" class="in"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a (click)="showSocialLayout('ins')" class="insta"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a (click)="showSocialLayout('pin')" class="pint"><i class="fa fa-pinterest-p"
                        aria-hidden="true"></i></a>
            </div>
            <div *ngIf="!isEditbale && socialIconsDetails">
                <a *ngIf="socialIconsDetails.WebsiteLink" href="{{socialIconsDetails.WebsiteLink}}" target="_blank"
                    class="web"><img src="../assets/images/iconfinder_globe.png"></a>
                <a *ngIf="socialIconsDetails.TwitterLink" href="{{socialIconsDetails.TwitterLink}}" target="_blank"
                    class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a *ngIf="socialIconsDetails.FacebookLink" href="{{socialIconsDetails.FacebookLink}}" target="_blank"
                    class="bell"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a *ngIf="socialIconsDetails.LinkedInLink" href="{{socialIconsDetails.LinkedInLink}}" target="_blank"
                    class="in"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a *ngIf="socialIconsDetails.InstagramLink" href="{{socialIconsDetails.InstagramLink}}" target="_blank"
                    class="insta"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a *ngIf="socialIconsDetails.PinInterestLink" href="{{socialIconsDetails.PinInterestLink}}" target="_blank"
                    class="pint"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            </div>
        </div>

    </div>
</div>