<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
<div style="background-color:darkslateblue; padding:1px; color:white; text-align:center;"><h1>SELLFF</h1></div>
<div class="row" style="text-align:center;"><div class="col-md-12"><h2>Hi [UserName]</h2></div></div>
<div class="row" style="text-align:center;"><div class="col-md-12">Thanks so much for joining Sellff! To finish signing up, you just need to confirm that we got your email right.</div></div>
<div style="height:20px;"></div>
<div style="text-align:center;"><a style="padding: 10px 16px; font-size: 18px; line-height: 1.3333333; border-radius: 6px; color: #fff; background-color: #337ab7; border-color: #2e6da4; display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; white-space: nowrap; vertical-align: middle; touch-action: manipulation; user-select: none; text-decoration: none; background-image: none; border: 1px solid transparent; cursor: pointer;">Confirm Your Email</a></div>