<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="box">
                <button type="button" (click)="popupInviteUser(template)" class="btn btn-primary pull-right mb-3">Invite
                    User
                </button>
                <div *ngIf="successMsg" class="mb-3 mt-3">
                    <alert type="success">
                        {{successMsg}}
                    </alert>

                </div>
                <div class="table-responsive">
                <table class="table custom-table">
                    <thead>
                        <tr class="table-head-bg">
                            <th><a (click) = "sortingSearch('Name')">Name</a></th>
                            <th><a (click) = "sortingSearch('EmailId')">Email</a></th>
                            <th><a (click) = "sortingSearch('Phone')">Phone</a></th>
                            <th><a (click) = "sortingSearch('InvitationSentDate')">Invitation Date</a></th>
                            <th width="140"><a>Status</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of tempInviteUsersList">
                            <td>{{user.Name}}</td>
                            <td>{{user.EmailId}}</td>
                            <td>{{user.Phone}}</td>
                            <td>{{user.InvitationSentDate}}</td>
                            <td>
                                <span *ngIf="!user.InvitationSentDate && !user.IsUserRegistered"><a
                                        href="javascript:void(0)" (click)="sendInvitation(user)"
                                        class="btn btn-yellow d-blck">Send Invitation</a> </span>
                                <span *ngIf="user.InvitationSentDate && user.IsUserRegistered" class="join-no-response  box-success  d-blck">Joined</span>
                                <span *ngIf="user.InvitationSentDate && !user.IsUserRegistered" class="join-no-response box-responce d-blck">No
                                    Response</span>
                            </td>
                        </tr>

                        <tr *ngIf = "tempInviteUsersList.length == 0"> 
                            <td rowspan="5">no records found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <pagination *ngIf = "tempInviteUsersList.length > 0" [boundaryLinks]="true" [totalItems]="inviteUsersList.length" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
            </div>
            <ng-template #template>
                
                <form [formGroup]="inviteForm" (ngSubmit)="inviteUser(inviteForm.value)">
                <div class="modal-body">
                    <p *ngIf="errorMsg" class="error-msg">{{errorMsg}}</p>
                   
                        <div class="form-group">
                            <input type="text" placeholder="Name" formControlName="Name" class="form-control" />
                            <div *ngIf="inviteForm.get('Name').errors" class="invalid-feedback">
                                <div *ngIf="(submitted || inviteForm.get('Name').dirty || inviteForm.get('Name').touched) && inviteForm.get('Name').errors.required">
                                    Name is required</div>
                            </div>

                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="Email" formControlName="Email" class="form-control" />
                            <div *ngIf="inviteForm.get('Email').errors" class="invalid-feedback">
                                <div *ngIf="(submitted || inviteForm.get('Email').dirty || inviteForm.get('Email').touched) && inviteForm.get('Email').errors.required">
                                    Email is required</div>
                                <div *ngIf="(submitted || inviteForm.get('Email').dirty || inviteForm.get('Email').touched) && inviteForm.get('Email').errors.email">
                                    Email is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" formControlName="Phone" placeholder="phone" class="form-control" />
                            <div *ngIf="inviteForm.get('Phone').errors" class="invalid-feedback">
                                <div *ngIf="(submitted || inviteForm.get('Phone').dirty || inviteForm.get('Phone').touched) && inviteForm.get('Phone').errors.required">
                                    Phone is required</div>
                                <div *ngIf="(submitted || inviteForm.get('Phone').dirty || inviteForm.get('Phone').touched) && inviteForm.get('Phone').errors.minlength">
                                    Phone is required</div>
                                <div *ngIf="(submitted || inviteForm.get('Phone').dirty || inviteForm.get('Phone').touched) && inviteForm.get('Phone').errors.maxlength">
                                    Phone is required</div>
                            </div>

                        </div>
                       
                    
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-custom pull-left" aria-label="Close" (click)="closeModal()">
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary pull-right">Invite</button>
                            <button type="button" class="btn btn-danger pull-right" (click)="resetForm()">Reset</button>
                </div>
            </form>
            </ng-template>
        </section>
    </div>

    <!-- <footer class="main-footer">
        <div class="pull-right ">
            <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Site map</a>
        </div>
        Copyright 2019 All Right Reserved
    </footer> -->
</div>