<div class="home-body">
    <div class="container-fluid">
        <div class="home-screen">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="companyCaption">
                        <h1>Grow Your Business with Sellff!</h1>
                        <p class="font-agency-bold">a market place for buyers and sellers of Personal/Professional Services</p>
                        <div class="home-from-data">
                                <div id="sub_cat" onchange="ssn()"></div>
                                <form [formGroup]=homesearchForm class="home-search" (ngSubmit)="onSubmit()">
                                    <div class="input-group">
                                        <input type="text" class="form-control f-22" formControlName="homesearchprofiles" placeholder="what type of service are you loocking for?" style="padding:19px;">
                                        <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" name="search"> Search</button></span>
                                    </div>
                                </form>
                                <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="companydetails">
                        <div class="footer_container">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="buy">
                                        <h2>For Buyers</h2>
                                        <p><i class="fa fa-search-plus"></i>Find Trustworthy Providers</p>
                                        <p><i class="fa fa-thumbs-o-up"></i>Hire Great People</p>
                                        <p><i class="fa fa-smile-o"></i>Get Better Results</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 buy-img mobile-hide">
                                    <img src="././assets/images/business.jpg" class="img-responsive" />
                                </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="buy">
                                            <h2>For Sellers</h2>
                                            <p> <i class="fa fa-volume-up"></i>Easily Promote Your Services</p>
                                            <p> <i class="fa fa-users"></i>Reach Motivated Buyers</p>
                                            <p> <i class="fa fa-usd"></i>Do More Business</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="col-md-12 col-sm-12 copy_right">
            <div class="row">
                <div class="col-sm-5">
                    <p class="copy_right_text font-fjalla-one">2019 sellff | all rights reserved
                </div>
                <div class="col-sm-7">
                    <div class="footer_terms_condition">
                        <span><a href="javascript:void(0)">Terms & Conditions</a></span> |
                        <span><a href="javascript:void(0)">Privacy Policy</a></span> |
                        <span><a href="javascript:void(0)">Site Map</a></span>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>