<div class="overlay" id="_loading">
    <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"></span></div>
    </div>
</div>

<app-header (closeSideNav)="closeSideNav($event)"></app-header>
<div class="content-box">
    <div *ngIf="showheadsection && !isSummaryPage">
        <div class="banner-header">
            <div class="change-pic" *ngIf="isEditbale">
                <a (click)="uploadbannerpic(Bannerpictemplate)"> <span>update banner photo</span></a>
            </div>
            <img src="{{bannerpicpath}}" class="user-banner" alt="Banner Image" *ngIf = "bannerpicpath">
            <img src="../assets/images/Default_Banner.jpg" class="user-banner" alt="Banner Image" *ngIf = "!bannerpicpath">
        </div>
        <div class="header-details">
                <div class="ranking-circle">
                        <div class="ranking-count">{{dataDisplayProfile.Rank}}</div>
                </div>
            <div class="row">
                <div class="col-sm-2 col-md-2 m-w-170">
                    <div class="profile-img" *ngIf="dataDisplayProfile">
                        <div class="profile-change">
                            <img src='{{profilePic}}' class="img-responsive">
                            <a (click)="uploadprofilepic(Profilepictemplate)" *ngIf="isEditbale"> <span>Update profile Photo</span></a>
                        </div>
                        <h3 *ngIf="dataDisplayProfile">{{dataDisplayProfile.DisplayName}}</h3>
                        <!-- <p>@tclarke</p> -->
                    </div>
                </div>
                <div class="col-sm-10 col-md-10">
                    <div class="main" id="main">
                        <div class="row" *ngIf="isLogin">
                            <div class="col-sm-2  col-xs-4">
                                <div class="info-box">

                                    <div class="info-box-content">
                                        <span class="info-box-text">Views</span>
                                        <span class="info-box-number" *ngIf="headerWidgetsDetails">{{headerWidgetsDetails.Views}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2  col-xs-4">
                                <div class="info-box">

                                    <div class="info-box-content">
                                        <span class="info-box-text">Posts</span>
                                        <span class="info-box-number" *ngIf="headerWidgetsDetails">{{headerWidgetsDetails.Posts}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2  col-xs-4">
                                <div class="info-box">

                                    <div class="info-box-content">
                                        <span class="info-box-text">Reviews</span>
                                        <span class="info-box-number" *ngIf="headerWidgetsDetails">{{headerWidgetsDetails.Reviews}}</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-sm-2  col-xs-4">
                                <div class="info-box">

                                    <div class="info-box-content">
                                        <span class="info-box-text">Investors</span>
                                        <span class="info-box-number" *ngIf="headerWidgetsDetails">
                                                            {{headerWidgetsDetails.Investors}}</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-sm-2  col-xs-4">
                                <div class="info-box">

                                    <div class="info-box-content">
                                        <span class="info-box-text">Investments</span>
                                        <span class="info-box-number" *ngIf="headerWidgetsDetails">{{headerWidgetsDetails.Investments}}</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                        </div>
                    </div>
                </div>


                
            </div>
        </div>



    </div>
</div>
<ng-template #Bannerpictemplate>
        <form [formGroup]="postGalleryForm" (ngSubmit)="saveGalleryPost(postGalleryForm.value)">
           
            <div class="modal-body">
                <div class="upload-file">
                    <div>
                        <h4>Upload</h4>
                        <div>
                            <div class="upload-img form-group">
                                <input type="file" name="image" (change)="fileProgress($event)" />
                                <div class="" *ngIf="uploadedFilePath">
                                    {{uploadedFilePath}}
                                </div>
                                <div *ngIf="fileUploadProgress">
                                    Upload progress: {{ fileUploadProgress }}
                                </div>
                               
                               <!--<button class="btn btn-danger ml-3" (click)="onCancel()">Cancel</button>--> 
                            </div>
                        </div>
                        <div class="image-preview mb-3" *ngIf="previewUrl">
                                <img [src]="previewUrl" class="m-100" />
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-custom pull-left" aria-label="Close" (click)="modalRef.hide()">
                            Close
                        </button>
                    <button class="btn btn-primary pull-right">Submit</button>
            </div>
        </form>
    </ng-template>
<ng-template #Profilepictemplate>
    <form [formGroup]="postProfileForm" (ngSubmit)="saveProfilePost(postProfileForm.value)">
       
        <div class="modal-body">
            <div class="upload-file">
                <div>
                    <h4>Upload</h4>
                    
                        <div class="upload-img form-group">
                            <input type="file" name="image" (change)="fileProgress($event)" />
                            <div class="" *ngIf="uploadedFilePath">
                                {{uploadedFilePath}}
                            </div>
                            <div *ngIf="fileUploadProgress">
                                Upload progress: {{ fileUploadProgress }}
                            </div>
                            
                            <!--<button class="btn btn-danger ml-3" (click)="AllowImageUpload = false">Cancel</button>-->
                        </div>
                   
                        <div class="image-preview mb-3" *ngIf="previewUrl">
                                <img [src]="previewUrl" class="m-100"  />
                            </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-custom pull-left" aria-label="Close" (click)="modalRef.hide()">
                Close
            </button>
            <button class="btn btn-primary pull-right">Submit</button>
        </div>
    </form>
</ng-template>
<div class="" [ngClass]="isLogin ? 'login-content' : 'main-content'">
    <div class="row" *ngIf="isLogin">
        <div class="col-md-12 " *ngIf="dataDisplayProfile">
            <div class="social-inputbox" *ngIf="postLayoutType!='' && isEditbale">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="link.." name="link" [(ngModel)]="socialLink" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" (click)="SubmitSocialLink()"><i class="fa fa-check" aria-hidden="true"></i></button>
                        <button class="btn btn-outline-secondary" type="button" (click)="onCancelSocial()"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
                <!-- <input type="search" placeholder="link.." name="link" [(ngModel)]="socialLink" />
                                            <button type="submit" (click)="SubmitSocialLink()"><i class="fa fa-address-book"></i></button> -->
            </div>
            <div class="socail-links text-center pull-right">
                <div *ngIf="isEditbale">
                    <a (click)="showSocialLayout('g')" class="web"><img src="../assets/images/iconfinder_globe.png"></a>
                    <a (click)="showSocialLayout('tw')" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a (click)="showSocialLayout('fb')" class="bell"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                    <a (click)="showSocialLayout('em')" class="in"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a (click)="showSocialLayout('gp')" class="insta"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a (click)="showSocialLayout('sem')" class="pint"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                    <!-- <a (click)="showSocialLayout('ig')"><i id="social-ig"
                                        class="fa fa-instagram-square fa-2x social"></i></a> -->
                </div>
                <div *ngIf="!isEditbale && socialIconsDetails">
                    <a *ngIf="socialIconsDetails.WebsiteLink" href="{{socialIconsDetails.WebsiteLink}}" target="_blank" class="web"><img src="../assets/images/iconfinder_globe.png"></a>
                    <a *ngIf="socialIconsDetails.TwitterLink" href="{{socialIconsDetails.TwitterLink}}" target="_blank" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a *ngIf="socialIconsDetails.FacebookLink" href="{{socialIconsDetails.FacebookLink}}" target="_blank" class="bell"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                    <a *ngIf="socialIconsDetails.LinkedInLink" href="{{socialIconsDetails.LinkedInLink}}" target="_blank" class="in"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a *ngIf="socialIconsDetails.InstagramLink" href="{{socialIconsDetails.InstagramLink}}" target="_blank" class="insta"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a *ngIf="socialIconsDetails.YouTubeLink" href="{{socialIconsDetails.YouTubeLink}}" target="_blank" class="pint"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                    <!-- <a *ngIf="socialIconsDetails.InstagramLink" href="{{socialIconsDetails.InstagramLink}}" target="_blank"></a> -->
                </div>


                <!-- <div *ngIf="postLayoutType!='' && !isEditbale">
                                        <p>{{socialLink}},<a [href]="socialLink" (click)="postLayoutType = ''">Close</a> </p>
                                    </div> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="" [ngClass]="isLogin ? 'col-sm-2 col-md-1' : ''">
            <ul class="sidebar-menu" data-widget="tree" *ngIf="isLogin">
                <li class="" [ngClass]="activeUrl == '/profileinfo/about' ? 'active' : ''"><a routerLink="/profileinfo/about">About</a></li>
                <li class="" [ngClass]="activeUrl == '/profileinfo/post' ? 'active' : ''"><a routerLink="/profileinfo/post">Posts</a></li>
                <li class="" [ngClass]="activeUrl == '/profileinfo/message' ? 'active' : ''"><a routerLink="/profileinfo/message">Message</a></li>
                <!-- <li><a routerLink="/profileinfo/promote">Promote</a></li> -->
                <li class="" [ngClass]="activeUrl == '/profileinfo/review' ? 'active' : ''"><a routerLink="/profileinfo/review">Review</a></li>
                <li class="" [ngClass]="activeUrl == '/profileinfo/invest' ? 'active' : ''"><a routerLink="/profileinfo/invest">Invest</a></li>
                <li *ngIf="isEditbale" class="" [ngClass]="activeUrl == '/profileinfo/invite' ? 'active' : ''"><a routerLink="/profileinfo/invite">Invite</a></li>
                <li *ngIf="isEditbale" class="" [ngClass]="activeUrl == '/profileinfo/match' ? 'active' : ''"><a routerLink="/profileinfo/match">Match</a></li>

                <!-- <li><a routerLink="/profileinfo/consult">Consult</a></li>
                        <li><a routerLink="/profileinfo/refer">Refer</a></li> -->
            </ul>
        </div>
        <div class="" [ngClass]="isLogin ? 'col-sm-10 col-md-11' : 'col-md-12'">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>