<div class="overlay" id="_loading">
    <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"></span></div>
    </div>
</div>

<app-header (closeSideNav)="closeSideNav($event)"></app-header>
<div class="content-box">
    <div *ngIf="showheadsection && !isSummaryPage">
        <div class="banner-header">
            <div class="change-pic" *ngIf="isEditbale">
                <a (click)="uploadbannerpic(Bannerpictemplate)"> <span>update banner photo</span></a>
            </div>
            <img src="{{bannerpicpath}}" class="user-banner" alt="Banner Image" *ngIf = "bannerpicpath">
            <img src="http://4sellff.com/sellffapi/AppImages/bannerpics/defbannerpic.jpg" class="user-banner" alt="Banner Pic" *ngIf = "!bannerpicpath">
        </div>
        <div class="header-details">
            <div class="ranking-circle">
                <div class="ranking-count">{{dataDisplayProfile.Rank}}</div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-md-2 m-w-170">
                    <div class="profile-img" *ngIf="dataDisplayProfile">
                        <div class="profile-change">
                            <img src='{{profilePic}}' class="img-responsive" *ngIf = "profilePic">
                            <img src='http://4sellff.com/sellffapi/AppImages/profilepics/dprfpic.jpg' class="img-responsive" *ngIf = "!profilePic">
                            <a (click)="uploadprofilepic(Profilepictemplate)" *ngIf="isEditbale"> <span>Update profile Photo</span></a>
                        </div>
                        <h3 *ngIf="dataDisplayProfile">{{dataDisplayProfile.DisplayName}}</h3>
                        <!-- <p>@tclarke</p> -->
                    </div>
                </div>
                <div class="col-sm-10 col-md-10">
                    <div class="main" id="main" *ngIf="showheadsection">
                       <app-user-notifications [notificationData]="headerWidgetsDetails"></app-user-notifications>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
<ng-template #Bannerpictemplate>
        <form [formGroup]="postGalleryForm" (ngSubmit)="saveGalleryPost(postGalleryForm.value)">           
            <div class="modal-body">
                <div class="upload-file">
                    <div>
                        <h4>Upload</h4>
                        <div>
                            <div class="upload-img form-group">
                                <input type="file" name="image" (change)="fileProgress($event)" />
                                <div class="" *ngIf="uploadedFilePath">
                                    {{uploadedFilePath}}
                                </div>
                                <div style="display: none;">
                                    Upload progress: {{ fileUploadProgress }}
                                </div>
                            </div>
                        </div>
                        <div class="image-preview mb-3" *ngIf="previewUrl" style="display: none;">
                                <img [src]="previewUrl" class="m-100" />
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-custom pull-left" aria-label="Close" (click)="modalRef.hide()">
                            Close
                        </button>
                    <button class="btn btn-primary pull-right">Submit</button>
            </div>
        </form>
    </ng-template>
<ng-template #Profilepictemplate>
    <form [formGroup]="postProfileForm" (ngSubmit)="saveProfilePost(postProfileForm.value)">       
        <div class="modal-body">
            <div class="upload-file">
                <div>
                    <h4>Upload</h4>
                    
                        <div class="upload-img form-group">
                            <input type="file" name="image" (change)="fileProgress($event)" />
                            <div class="" *ngIf="uploadedFilePath">
                                {{uploadedFilePath}}
                            </div>
                            <div style="display: none;">
                                Upload progress: {{ fileUploadProgress }}
                            </div>
                        </div>
                   
                        <div class="image-preview mb-3" *ngIf="previewUrl" style="display: none;">
                                <img [src]="previewUrl" class="m-100"  />
                            </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-custom pull-left" aria-label="Close" (click)="modalRef.hide()">
                Close
            </button>
            <button class="btn btn-primary pull-right">Submit</button>
        </div>
    </form>
</ng-template>
<div class="" [ngClass]="showheadsection ? 'login-content' : 'main-content'">
    <div class="row" *ngIf="showheadsection">
        <app-social-links [displayDataProfile] = "dataDisplayProfile" [isEditbale]="isEditbale"></app-social-links>       
    </div>
    <div class="row">
        <div class="" [ngClass]="showheadsection ? 'col-sm-2 col-md-1' : ''">
            <ul class="sidebar-menu" data-widget="tree" *ngIf="showheadsection">
                <li [ngClass]='aboutactive'><a (click)="navigateusertopage('/profileinfo/about')">about</a></li>
                <li [ngClass]='postactive'><a routerLink="/profileinfo/post">post</a></li>
                <li [ngClass]='messageactive'><a routerLink="/profileinfo/message">message <span *ngIf = "unReadMsgsCount > 0">({{unReadMsgsCount}})</span></a></li>
                <li [ngClass]='reviewactive'><a routerLink="/profileinfo/review">review</a></li>
                <li [ngClass]='investactive'><a routerLink="/profileinfo/invest">invest</a></li>
                <li *ngIf="isEditbale" [ngClass]='inviteactive'><a routerLink="/profileinfo/invite">invite</a></li>
                <li *ngIf="isEditbale" [ngClass]='matchactive'><a routerLink="/profileinfo/match">match</a></li>

                <!-- <li class="" [ngClass]="activeUrl == '/profileinfo/about' ? 'active' : ''"><a routerLink="/profileinfo/about">About</a></li>
                <li class="" [ngClass]="activeUrl == '/profileinfo/post' ? 'active' : ''"><a class= "" [ngClass] = "!isLogin? 'disabled' : ''" routerLink="/profileinfo/post">Posts</a></li>
                <li class="" [ngClass]="activeUrl == '/profileinfo/message' ? 'active' : ''"><a class= "" [ngClass] = "!isLogin? 'disabled' : ''" routerLink="/profileinfo/message">Message <span *ngIf = "unReadMsgsCount > 0">({{unReadMsgsCount}})</span></a></li> -->
                <!-- <li><a routerLink="/profileinfo/promote">Promote</a></li> -->
                <!-- <li class="" [ngClass]="activeUrl == '/profileinfo/review' ? 'active' : ''"><a class= "" [ngClass] = "!isLogin? 'disabled' : ''" routerLink="/profileinfo/review">Review</a></li>
                <li class="" [ngClass]="activeUrl == '/profileinfo/invest' ? 'active' : ''"><a class= "" [ngClass] = "!isLogin? 'disabled' : ''" routerLink="/profileinfo/invest">Invest</a></li>
                <li *ngIf="isEditbale" class="" [ngClass]="activeUrl == '/profileinfo/invite' ? 'active' : ''"><a routerLink="/profileinfo/invite">Invite</a></li>
                <li *ngIf="isEditbale" class="" [ngClass]="activeUrl == '/profileinfo/match' ? 'active' : ''"><a routerLink="/profileinfo/match">Match</a></li> -->

                <!-- <li><a routerLink="/profileinfo/consult">Consult</a></li>
                        <li><a routerLink="/profileinfo/refer">Refer</a></li> -->
            </ul>
        </div>
        <div class="" [ngClass]="showheadsection ? 'col-sm-10 col-md-11' : 'col-md-12'">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>