<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border p-lr-0-d">
                            <div class="edit-text-box">
                                <div *ngIf="!isAboutInEditMode; else elseBlock">
                                    <p class="edit-btn" style="text-justify: distribute-all-lines;">
                                        {{textValue}}
                                    </p>
                                    <div class="text-right">
                                        <button class="btn btn-primary" *ngIf="isEditbale" (click)="logText()"><i
                                                class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                                    </div>
                                </div>
                            </div>
                            <ng-template #elseBlock>
                                <div class="edit-box">
                                    <textarea cols="150" class="about-textarea" rows="10" [(ngModel)]="textValue"
                                        required></textarea>
                                    <!-- <input #textbox id="txtAboutUser" type="textarea" width="85%" height="100px;" [(ngModel)]="textValue" required> -->
                                    <div class="text-edit-footer">
                                        <button class="btn btn-primary" (click)="saveupdatedabout()">Update</button>
                                        <button class="btn btn-custom ml-3" (click)="onCancel()">Cancel</button>
                                    </div>
                                </div>

                            </ng-template>
                            <!-- /.box-header -->
                            <a class="accordian_menu" role="button" data-toggle="collapse" href="#services_offered"
                                aria-expanded="true" aria-controls="Services Offered">
                                <span class="accordian_title">Services Offered</span>
                            </a>
                            <div class="collapse in" id="services_offered">
                                <div class="services_main p-r-d-50">

                                    <button *ngFor="let service of serviceOffered" type="button"
                                        class="btn service-offered">{{service.ServiceName}}</button>

                                    <div class="" *ngIf="serviceOffered.length == 0">
                                        <p>No Services offered</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <section class="upload-img-section">
                            <div class="">
                                <div class="box-header with-border p-lr-0-d">
                                    <a class="accordian_menu" role="button" data-toggle="collapse" href="#gallery_main"
                                        aria-expanded="true" aria-controls="Gallery">
                                        <span class="accordian_title">Gallery</span>
                                    </a>
                                    <div class="collapse in" id="gallery_main">
                                        <div class="e-p-main">
                                            <a *ngFor="let item of imgGallery" id="link1" href="javascript:void(0)">
                                                <div class="e-p-img">
                                                    <div class="box p-t-each">
                                                        <img [src]="item.imgUrl" id="img1"
                                                            (click)="checkevent(item.imgUrl, template, item.galType,item.altUrl)">
                                                        <a *ngIf="(item.galType != 2)"
                                                            (click)="removeGalleryicbyid(item.id)"><span
                                                                class="trash_post" title="Delete Post"
                                                                *ngIf="isEditbale"><i
                                                                    class="fa fa-trash"></i></span></a>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="" *ngIf="imgGallery.length == 0">
                                            <p>Gallery is not available</p>
                                        </div>
                                    </div>
                                    <ng-template #template>
                                        <div class="modal-header" style="padding: 0;">
                                        </div>
                                        <div class="modal-body" style="padding: 0;">
                                            <div *ngIf="dynamicImg">
                                                <img [src]="dynamicImg" class="rounded" alt="">
                                            </div>

                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div *ngIf="!AllowImageUpload; else upldelseBlock"
                                    style="text-justify: distribute-all-lines;">
                                    <button class="btn btn-primary" *ngIf="isEditbale" (click)="ShowGalUpPop()"><span><i
                                                class="fa fa-cloud-upload"></i> Upload Image</span></button>
                                </div>
                            </div>                            
                            <ng-template #upldelseBlock>
                                <div class="upload-file">
                                    <div>
                                        <h3 class="normal-title">Upload</h3>
                                        <div>
                                            <div class="upload-img">
                                                <input type="file" name="image" (change)="fileProgress($event)" />
                                                <div class="" *ngIf="uploadedFilePath">
                                                    {{uploadedFilePath}}
                                                </div>
                                                <div *ngIf="fileUploadProgress">
                                                    Upload progress: {{ fileUploadProgress }}
                                                </div>
                                                <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
                                                <button class="btn btn-custom ml-3"
                                                    (click)="onUploadCancel()">Cancel</button>
                                            </div>

                                        </div>
                                        <div class="row mt-20">
                                            <div class="col-sm-3">
                                                <div class="image-preview mb-3" *ngIf="previewUrl">
                                                    <img [src]="previewUrl" height="300" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <div style="height: 25px;">&nbsp;</div>
                            <hr>
                            <div class="edit-text-box">
                                <h3>Location: </h3>
                                <div *ngIf="!isCityInEditMode; else elseCityBlock">
                                    <p class="edit-btn" style="text-justify: distribute-all-lines;">
                                        {{userCity}}
                                    </p>
                                    <div class="text-right">
                                        <button class="btn btn-primary" *ngIf="isEditbale" (click)="enablecityedit()"><i
                                                class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                                    </div>
                                </div>
                            </div>
                            <ng-template #elseCityBlock>
                                <div class="edit-box">
                                    <input type="text" [(ngModel)]="userCity" class="form-control" required>
                                    <div class="text-edit-footer">
                                        <button class="btn btn-primary" (click)="updatecityvalue()">Update</button>
                                        <button class="btn btn-custom ml-3" (click)="oncitycancel()">Cancel</button>
                                    </div>
                                </div>
                            </ng-template>
                            <div class="edit-text-box">
                                <h3>Occupation: </h3>
                                <div *ngIf="!isOccupationInEditMode; else elseOccBlock">
                                    <p class="edit-btn" style="text-justify: distribute-all-lines;">
                                        {{UserOccupation}}
                                    </p>
                                    <div class="text-right">
                                        <button class="btn btn-primary" *ngIf="isEditbale" (click)="enableoccupationedit()"><i
                                                class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                                    </div>
                                </div>
                            </div>
                            <ng-template #elseOccBlock>
                                <div class="edit-box">
                                    <input type="text" [(ngModel)]="UserOccupation" class="form-control" required>
                                    <div class="text-edit-footer">
                                        <button class="btn btn-primary" (click)="updateoccupationvalue()">Update</button>
                                        <button class="btn btn-custom ml-3" (click)="onoccupationcancel()">Cancel</button>
                                    </div>
                                </div>
                            </ng-template>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="control-sidebar-bg"></div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fastclick.js"></script>
<script src="js/custom.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/jquery.slimscroll.min.js"></script>