input#txtAboutUser {
    width: 85%;
    height: 100px;
    text-align: left;
    margin-right: 10px;
}

.col-xs-12.my-img {
    width: 14%;
}

img.rounded {
    width: 100%;
    /* height: 101%; */
}

.ml-3 {
    margin-left: 10px;
}

.upload-img .btn.btn-danger {
    height: 43px;
    border-radius: 4px;
}