<div style="background-color:darkslateblue; padding:1px; color:white; text-align:center;">
    <h1>SELLFF</h1>
</div>
<div class="row" style="text-align:center;">
    <div class="col-md-12">
        <div class="col-md-12">Thank you for confirming your email.            
        </div>
    </div>
    <div style="height:20px;"></div>
    <div style="text-align:center;">
        <a routerLink="[./login]" style="padding: 10px 16px; font-size: 18px; line-height: 1.3333333; border-radius: 6px; color: #fff; background-color: #337ab7; border-color: #2e6da4; display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; white-space: nowrap; vertical-align: middle; touch-action: manipulation; user-select: none; text-decoration: none; background-image: none; border: 1px solid transparent; cursor: pointer;">Go to Login</a>
    </div>
</div>