<div style="background-color:darkslateblue; padding:1px; color:white; text-align:center;">
    <h1>SELLFF</h1>
</div>
<div class="row" style="text-align:center;">
    <div class="col-md-12" style="padding: 25px;">
        <div class="col-md-12">
            <h3>Thank you for confirming your email.</h3>
            <h4>Please login to acess Sellff features.</h4>
        </div>
    </div>
    <div style="text-align:center;">
        <a routerLink="/login" class="btn btn-default">Go to Login</a>
    </div>
</div>