<div class="wrapper">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class="active treeview menu-open">
                            <a href="#"><i class="fa fa-user"></i> <span>About</span><span class="pull-right-container"></span></a>
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-sticky-note-o"></i> <span>Posts</span><span class="pull-right-container"></span></a> 
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-envelope-o"></i> <span>message</span>
                <span class="pull-right-container"></span></a> </li>
                        <li class="">
                            <a href="#"><i class="fa fa-bullhorn"></i> <span>promote</span>
                <span class="pull-right-container"></span></a> </li>
                        <li class="">
                            <a href="#"><i class="fa fa-star"></i> <span>review</span>
                <span class="pull-right-container"></span></a> </li>
                        <li class="">
                            <a href="#"><i class="fa fa-money"></i> <span>invest</span>
                <span class="pull-right-container"></span></a> </li>
                        <li class="">
                            <a href="#"><i class="fa fa-handshake-o"></i> <span>consult</span>
                <span class="pull-right-container"></span></a> </li>
                        <li class="">
                            <a href="#"><i class="fa fa fa-user-plus"></i> <span>refer</span>
                <span class="pull-right-container"></span></a> </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

<div class="content-wrapper">

    <div class="row">

        <div class="col-md-12">

            <div class="table table-responsive ">
                <table id="datatable" class="table table-responsive-sm table-hover table-outline mb-0" cellspacing="0" width="100%">
                    <thead class="thead-light">
                        <tr>
                            <th><i class="fa fa-user"></i>Member</th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Occupation</th>
                            <th>Tru Id</th>
                            <th>Reviews</th>
                            <th>Values</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><img src="./././assets/images/pic.png"></td>
                            <td>Rebacca Hunter</td>
                            <td>London,UK</td>
                            <td>Accountant</td>
                            <td><span class="badge bg-light-blue">Yes</span></td>
                            <td><strong>315</strong></td>
                            <td class="red">201</td>

                        </tr>

                        <tr>
                            <td><img src="./././assets/images/pic1.png"></td>
                            <td>Fiath Wilson</td>
                            <td>Los Angels ,CA</td>
                            <td>Web Developer</td>
                            <td><span class="badge bg-red">No</span></td>
                            <td>216</td>
                            <td class="green">415</td>

                        </tr>

                        <tr>
                            <td><img src="./././assets/images/pic3.png"></td>
                            <td>Olivia Smith</td>
                            <td>San Francisco,CA</td>
                            <td>Film Producer</td>
                            <td><span class="badge bg-light-blue">Yes</span></td>
                            <td>251</td>
                            <td class="red">387</td>

                        </tr>

                        <tr>
                            <td><img src="./././assets/images/pic5.png"></td>
                            <td>Parker jones</td>
                            <td>Dallas,TX</td>
                            <td>Accountant</td>
                            <td><span class="badge bg-light-blue">Yes</span></td>
                            <td>244</td>
                            <td class="green">464</td>

                        </tr>

                        <tr>
                            <td><img src="./././assets/images/pic5.png"></td>
                            <td>Parker jones</td>
                            <td>Dallas,TX</td>
                            <td>Accountant</td>
                            <td><span class="badge bg-red">No</span></td>
                            <td>244</td>
                            <td class="green">464</td>

                        </tr>

                        <tr>
                            <td><img src="./././assets/images/pic5.png"></td>
                            <td>Parker jones</td>
                            <td>Dallas,TX</td>
                            <td>Accountant</td>
                            <td><span class="badge bg-light-blue">Yes</span></td>
                            <td>244</td>
                            <td class="green">464</td>

                        </tr>
                        <tr>
                            <td><img src="./././assets/images/pic5.png"></td>
                            <td>Parker jones</td>
                            <td>Dallas,TX</td>
                            <td>Accountant</td>
                            <td><span class="badge bg-red">No</span></td>
                            <td>244</td>
                            <td class="green">464</td>

                        </tr>

                        <tr>
                            <td><img src="./././assets/images/pic5.png"></td>
                            <td>Parker jones</td>
                            <td>Dallas,TX</td>
                            <td>Accountant</td>
                            <td><span class="badge bg-red">No</span></td>
                            <td>244</td>
                            <td class="green">464</td>

                        </tr>
                        <tr>
                            <td><img src="./././assets/images/pic5.png"></td>
                            <td>Parker jones</td>
                            <td>Dallas,TX</td>
                            <td>Accountant</td>
                            <td><span class="badge bg-light-blue">Yes</span></td>
                            <td>244</td>
                            <td class="green">464</td>

                        </tr>
                        <tr>
                            <td><img src="./././assets/images/pic5.png"></td>
                            <td>Parker jones</td>
                            <td>Dallas,TX</td>
                            <td>Accountant</td>
                            <td><span class="badge bg-light-blue">Yes</span></td>
                            <td>244</td>
                            <td class="green">464</td>

                        </tr>

                        <tr>
                            <td><img src="./././assets/images/pic5.png"></td>
                            <td>Parker jones</td>
                            <td>Dallas,TX</td>
                            <td>Accountant</td>
                            <td><span class="badge bg-red">No</span></td>
                            <td>244</td>
                            <td class="green">464</td>

                        </tr>

                        <tr>
                            <td><img src="./././assets/images/pic5.png"></td>
                            <td>Parker jones</td>
                            <td>Dallas,TX</td>
                            <td>Accountant</td>
                            <td><span class="badge bg-light-blue">Yes</span></td>
                            <td>244</td>
                            <td class="green">464</td>

                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
</div>