.table thead {
    background: none repeat scroll 0 0 #3c8dbc;
    cursor: pointer;
    font-size: 20px;
}
.image-cover {
    border-radius: 50%;
    margin: 20px;  
    object-fit: cover;
    object-position: center right;
  }