<div class="wrapper">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="p-10">
                <div class="table table-responsive ">
                    <table id="datatable" class="search-summary table table-responsive-sm table-hover table-outline mb-0" cellspacing="0" width="100%">
                        <thead class="thead-light">
                            <tr>
                                <th>Member</th>
                                <th><a (click) = "sortingSearch('DisplayName')">Name</a></th>
                                <th><a (click) = "sortingSearch('City')">Location</a></th>
                                <th><a (click) = "sortingSearch('Occupation')">Occupation</a></th>
                                <th><a (click) = "sortingSearch('Reviews')">Reviews</a></th>
                                <th><a (click) = "sortingSearch('Rank')">score</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reslt of tempSearchResults">
                                <td><img src="{{reslt.ProfilePicPath}}" width="85%"></td>
                                <td><a style="cursor: pointer;" (click)=openotherprofile(reslt)>{{reslt.DisplayName}}</a></td>
                                <td>{{reslt.City}}</td>
                                <td>{{reslt.Occupation}}</td>
                                <td>{{reslt.Reviews}}</td>
                                <td>{{reslt.Rank}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <pagination [boundaryLinks]="true" [totalItems]="searchResults.length" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>