/* You can add global styles to this file, and also import other style files */

// Home Screen CSS Starting Here
html,
body {
    width: 100%;
    height: 100% !important;
    text-transform: lowercase !important;
    font-family: 'Fjalla One', sans-serif !important;
    background-color: #fff;
}

p {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    color: #585858;
    font-family: "Lato", sans-serif !important;
    letter-spacing: 0.03em;
    line-height: 24px;
    margin-bottom: 20px;
}

.maring-bottom-30 {
    margin-bottom: 30px;
}

.modal-title {
    color: #333333;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.3px;
    line-height: 22px;
    margin: 0;
}

//Header CSS
.login-links {
    float: right;
    display: flex;
    padding: 12px 0px;
    margin: 0px;
    margin-right: 15px;
    list-style-type: none;
}

.login-links li {
    text-align: left;
    padding-right: 5px;
}

.login-links li:last-child:after {
    padding-right: 0px;
}

.login-links li a {
    color: rgba(255, 255, 255, 0.8);
}

.login-links li a {
    color: #2f6371;
    border: 1px solid #c7c7c7;
    padding-bottom: 2px;
    background-color: #f2f2f2;
    padding: 4px 15px;
    font-size: 16px;
}

.login-links li a:hover {
    color: #FFF;
    background-color: #012974;
}

.login-links li a i {
    border: 1px solid #FFF;
    border-radius: 100%;
    padding: 3px 6px;
    font-size: 16px;
}

.login-btn .btn {
    padding: 8px 25px;
    width: 100%;
    font-size: 20px;
}

.login-links li a i.fa-user-plus {
    padding: 3px 3px;
}

.login-links li a:hover i {
    border: 1px solid #012974;
    background-color: #FFF;
    color: #012974;
}

.navbar-custom-menu .navbar-nav>.user-menu .user-image {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 0;
}

.navbar-custom-menu .dropdown-menu {
    position: relative;
}

.navbar-custom-menu .dropdown-menu:before {
    background: none repeat scroll 0 0 #fff;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    content: "";
    height: 12px;
    right: 36px;
    position: absolute;
    top: -7px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 12px;
}

.navbar-custom-menu .navbar-nav>li>a {
    padding: 0;
    margin: 0;
    color: #FFF;
    background-color: transparent;
    font-size: 16px;
    letter-spacing: 0.03em;
    font-weight: 600;
}

.navbar-custom-menu .navbar-nav>li>a:hover,
.navbar-custom-menu .navbar-nav>li>a:focus,
.navbar-custom-menu .navbar-nav>li>a:active,
.navbar-custom-menu .navbar-nav>li>a:visited {
    background-color: transparent;
}

.navbar-custom-menu {
    padding-top: 7px;
    margin-right: 20px;
}

.navbar-custom-menu .navbar-nav>.user-menu span {
    padding-top: 0;
    display: inline-block;
}

.navbar-custom-menu .navbar-nav>.user-menu span span {
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.03em;
    margin: 0px;
    padding: 0px;
}

.navbar-custom-menu .navbar-nav li li:after {
    display: none;
}

.navbar-custom-menu .navbar-nav li:after {
    content: "\f0d7";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    color: #FFF;
}

.home-screen {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    background-color: #FFF;
    padding: 0;
    width: 100%;
}

.home-screen h1 {
    margin-top: 0px;
    font-size: 47px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    font-weight: 900;
    color: #000;
}

.home-screen p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
}

.companyCaption {
    padding: 84px 0px;
}

.companydetails {
    padding: 30px 50px 50px;
    background-color: #012974;
}

.companydetails * {
    color: #FFF;
}

.buy h2 {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: none;
    display: inline-block;
    text-decoration: underline;
    margin-bottom: 20px;
}

.buy p {
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 27px;
    font-weight: 300;
    letter-spacing: 0.03em;
    line-height: 25px;
}

.buy p i {
    font-size: 17px;
    margin-left: -34px;
    margin-right: 12px;
    vertical-align: middle;
    text-align: center;
    width: 36px;
    -webkit-box-align: center;
    align-items: center;
    background-color: #FFF;
    padding: 6px 8px;
    color: #012974;
}

.buy-img img {
    width: 45%;
    margin: 0 auto;
}

.buy {
    padding-top: 90px;
}

.home-search {
    width: 46%;
    margin: 0 auto;
}

.home-search input {
    padding: 10px;
    height: 45px;
}

.home-search .input-group-btn button {
    height: 45px;
}

// Home Screen CSS Ending Here
// Login and Regester Screen CSS Starting Here
.login-screen {
    max-width: 450px;
    margin: 10px auto;
}

.login-screen .auth-header {
    text-align: center;
    font-size: 130px;
    font-weight: 900;
    color: #000;
    padding: 0;
    margin: 0;
    line-height: normal;
}

.login-screen form {
    padding: 20px 73px;
    padding-bottom: 60px;
}

.login-screen form .form-group {
    position: relative;
}

.login-screen label {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.03em;
    margin-bottom: 8px;
    color: #868686;
}

.login-screen input[type=checkbox],
.login-screen input[type=radio] {
    height: auto;
    margin-right: 10px;
}

.login-screen input {
    height: 45px;
    padding: 0px 10px;
    font-size: 16px;
    color: #000;
    letter-spacing: 1px;
}

.capcha iframe {
    border: 1px solid #d3d3d3;
}

.capcha iframe {
    width: 100% !important;
}

.login-screen form .form-group .pre-icon {
    position: absolute;
    bottom: 5px;
    font-size: 24px;
    color: #012974;
    left: -38px;
}

.login-screen .buttons-w {
    padding-top: 1rem;
    margin-top: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.login-screen .btn.btn-warning {
    float: right;
}

.login-screen .btn:hover,
.login-screen .btn-link:hover {
    background-color: #185578;
    border-color: #185578;
    cursor: pointer;
    text-decoration: none;
}

.login-screen .btn-link,
.login-screen .btn-link:hover {
    float: right;
    background-color: transparent;
    border: none;
    padding: 8px 0px;
    color: #7d7d7d;
    font-weight: 500;
}

.login-screen .btn-link {
    text-decoration: underline;
}

.login-screen .btn-danger {
    background-color: red;
    border-color: red;
    cursor: pointer;
    color: #FFF;
    border: 2px solid transparent;
    padding: 7px 20px;
    padding-top: 3px;
    text-decoration: none;
    line-height: normal;
    border-radius: 4px;
}

// Login and Regester Screen CSS Ending Here
// Dashboard CSS Starting Here
.wrapper {
    margin-top: 0;
}

.content-wrapper {
    padding-top: 5px;
}

.skin-blue .sidebar-menu>li:hover>a,
.skin-blue .sidebar-menu>li.active>a,
.skin-blue .sidebar-menu>li.menu-open>a {
    color: #000;
    font-weight: 600;
    font-size: 17px;
}

.content-wrapper .text-center.pull-right {
    margin-bottom: 10px;
}

.box {
    display: inline-block;
}

.edit-btn button {
    background-color: #367fa9;
    border: none;
    padding: 6px 10px;
    color: #FFF;
}

.edit-btn button:hover,
.upload-btn button:hover {
    background-color: #185578;
}

.upload-btn button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    color: #FFF;
    letter-spacing: 0.03em;
    vertical-align: middle;
    background-color: #367fa9;
}

.upload-btn button span {
    font-family: 'Lato', sans-serif;
}

.upload-btn button:before {
    position: relative;
    top: 0px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 10px;
    vertical-align: text-bottom;
}

.upload-file input[type=file] {
    display: flex;
    color: #000;
    height: 40px;
    border: 1px solid #ccc;
    padding: 10px 25px;
    width: auto;
    background-color: #eee;
    margin-bottom: 20px;
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.upload-img {
    display: flex;
}

.upload-img .btn.btn-primary,
.upload-img .btn.btn-danger {
    height: 40px;
    border-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.box h4 {
    color: #222222;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin: 0;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 5px;
}

.box h4:after {
    content: "";
    background-color: #222222;
    height: 2px;
    width: 30px;
    position: absolute;
    left: 0;
    top: 100%;
}

.message-box textarea {
    width: 100%;
    border: 1px solid #cecece;
    margin-bottom: 15px;
    height: 150px;
    outline: none;
    padding: 15px;
}

.new-mg-box h4 {
    float: left;
    margin-right: 15px;
}

// Dashboard CSS Ending Here
//Buttons CSS
.post-btns {
    text-align: right;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.post-btns ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: right;
    width: 100%;
    display: inline-block;
}

.post-btns ul li {
    display: inline-block;
}

.post-btns ul li a {}

.post-btns ul li:after {
    content: "|";
    padding: 0px 15px;
}

.post-btns Ul li:last-child:after {
    display: none;
}

.post-list-view ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.post-list-view ul li {
    display: flex;
}

.post-list-view .post-img-box {
    margin-right: 15px;
    box-shadow: 3px 3px 5px #d2d2d2;
    padding: 0;
    background-color: #fff;
}

.post-list-view .post-img-box:last-child {
    margin-right: 0px;
}

//Social Icons
.content .socail-links a {
    padding-right: 10px;
}

.content .socail-links a:last-child {
    padding-right: 0px;
}

.socail-links .input-group .input-group-append .btn {
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #012974;
    background-color: #012974;
    color: #FFF;
    margin-right: 3px;
    padding: 0px 7px;
    height: 28px;
}

.socail-links .input-group .input-group-append .btn:last-child {
    margin-right: 0px;
}

.socail-links .input-group input {
    background-color: #FFF;
    font-size: 12px;
    border: 1px solid #e2e2e2;
    padding: 5px 10px;
    height: auto;
    margin-bottom: 4px;
    letter-spacing: 0.03em;
}

.socail-links .input-group {
    display: flex;
}

.socail-links .input-group input {
    float: left;
}

.socail-links .input-group .input-group-append {
    float: right;
    display: flex;
}

.form-horizontal {
    margin-top: 20px;
}

.form-horizontal .form-group {
    margin: 0px;
    padding: 0px;
}

.form-horizontal .form-group label {
    border: 1px solid #f1f1f1;
    color: #7b7b7b;
    margin: 0px;
    text-align: left;
    font-size: 13px;
    letter-spacing: 0.3px;
    padding: 10px 15px;
}

.invest-graph img {
    width: 100%;
    height: auto;
}

.box-center {
    text-align: center;
}

.box-center h4:after {
    content: "";
    background-color: #222222;
    height: 2px;
    width: 30px;
    position: absolute;
    left: 50%;
    top: 100%;
    right: auto;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box-center .margin-top-30 {
    margin-top: 30px;
}

.box-center .btn {
    width: 100%;
    font-size: 16px;
    padding: 30px 15px;
}

.status-open {
    margin-top: 30px;
    background-color: #47a500;
    color: #FFF;
    padding: 10px 15px;
}

.status-open p {
    color: #FFF;
    margin: 0px;
    font-size: 20px;
    padding: 10px 0px;
}

//Messege Box CSS
.msg-box {
    border-bottom: 1px solid #ededed;
    color: #333333;
    font-weight: normal;
    letter-spacing: 0.3px;
    padding: 16px 15px;
    width: 100%;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.msg-box:hover {
    background: #FFF;
    color: #fff;
    padding-left: 15px;
}

.msg-box:hover li label {
    color: #000;
}

.msg-box:hover a {
    color: #012974;
}

.msg-box ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.msg-box ul li {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}

.msg-box ul li:first-child {
    text-align: left;
}

.msg-box ul li a:first-child {
    color: #777777;
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.msg-box ul li:last-child {
    text-align: right;
}

.msg-box:hover ul li a *,
.msg-box:hover ul li a label * {
    cursor: pointer !important;
    color: #012974;
}

.msg-box ul li label {
    color: #777777;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.msg-box p {
    font-size: 14px;
    margin: 0;
}

//Table CSS
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: separate;
    border-spacing: 12px;
}

.table thead {
    background: none !important;
    cursor: pointer;
}

.table thead tr th.pro {
    background-color: #4dc0ef;
}

.table thead tr th.exp {
    background-color: #f00;
}

.table thead tr th.rew {
    background-color: #f39c3f;
}

.table thead tr th.sta {
    background-color: green;
}

.table tbody tr td label .open {
    color: green;
}

.table tbody tr td label .close {
    color: #f00;
}

.table thead tr th {
    color: #000;
    font-weight: bold;
    letter-spacing: 0.4px;
    padding: 12px 15px;
}

.table thead tr th span {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.table tbody tr {
    border-bottom: 1px solid #e8ecec;
    color: #555;
}

.table tbody tr td label i {
    font-size: 16px;
    color: #012974;
}

.table tbody tr table tr {
    border: none;
}

.search-summary.table tbody tr td:first-child {
    width: 67px !important;
    border: none;
}

.table-hover>tbody>tr:hover {
    background-color: #FFF;
}

.table tbody tr td a {
    color: #141414;
}

.table thead tr th {
    text-align: center;
}

.table tbody tr td {
    color: #141414;
    font-size: 17px;
    letter-spacing: normal;
    padding: 0;
    text-align: center;
    font-weight: 400;
    border: 1px solid #f2f2f2;
}

table tbody tr td.lalign {
    text-align: left;
}

.table tr td img {
    width: 75px;
    height: 75px;
    border-bottom: none;
}

.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
}

.file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    background: #e8e8e8;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 37px;
    line-height: normal;
    color: #000;
    border-radius: 5px 10px 10px 5px;
    font-weight: 400;
}

.file-upload-wrapper:before {
    content: "Upload";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: auto;
    color: #fff;
    z-index: 25;
    line-height: normal;
    padding: 10px 15px;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
    border: none;
    font-size: 14px;
    letter-spacing: 0.2px;
    border-radius: 2px;
    color: #FFF;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #0f5075 0%, #012974 51%, #0f5075 100%);
}

.file-upload-wrapper:hover:before {
    color: #FFF;
    background-position: right center;
}

.file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}

.text-edit.btn {
    padding: 6px 18px;
    position: absolute;
    right: 0;
    margin-top: 6px;
}

.edit-box textarea {
    border: none;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    margin: 0px;
    letter-spacing: 0.03em;
    line-height: 24px;
    margin-bottom: 0;
    height: 150px;
}

.text-edit-footer {
    margin-bottom: 0;
    text-align: right;
    padding-bottom: 0px;
}

.edit-text-box {
    /*padding: 15px;
    border: 1px solid #ececec;
    box-shadow: 0px 6px 7px #f7f7f7; */
    font-size: 14px;
    font-weight: normal;
    color: #585858;
    letter-spacing: 0.03em;
    line-height: 24px;
    margin-bottom: 20px;
    position: relative;
}

.progress-box .progress {
    height: 5px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: none;
    margin: 0;
    margin-top: 10px;
}

.progress-box .p-box {
    display: flex;
    margin-bottom: 15px;
}

.progress-box .p-box span {
    white-space: nowrap;
    float: left;
    margin-right: 20px;
}

.review-box h4:after {
    display: none;
}

.review-box .row {
    display: flex;
}

.review-box .col-md-12 {
    display: flex;
    margin-bottom: 15px;
}

rating span {
    outline: none;
}

.c-review-box {
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.review-box h4 {
    color: #222222;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin: 0;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 5px;
    margin-right: 15px;
}

.review-comments span {
    padding-top: 10px;
    display: inline-block;
}

.review-title {
    margin-bottom: 12px;
    display: flex;
}

.review-title rating {
    margin-right: 15px;
}

.review-title h2 {
    color: #222222;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin: 0;
    margin-bottom: 8px;
    position: relative;
    padding-bottom: 8px;
    /*position: relative;*/
}


/*.review-title h2:after{
    content: "";
    background-color: rgba(204, 204, 204, 0.21);
    height: 2px;
    width: 30px;
    position: absolute;
    left: 0;
    top: 100%;
}*/

.review-details {
    text-align: center;
}

.review-details img {
    width: 100%;
}

.reviewname {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 4px 0px;
    display: block;
    background-color: #012974;
    background-size: 200% auto;
    transition: 0.5s;
    background-image: linear-gradient(to right, #0f5075 0%, #012974 51%, #0f5075 100%);
}

.reviewname:hover {
    color: #FFF;
    background-position: right center;
}

.review-date {
    text-align: right;
    margin-bottom: 8px;
    color: #828282;
}

.review-content p {
    margin: 0px;
}

span.bs-rating-star.active {
    color: gold;
}

.review-comments {
    margin-top: 10px;
    text-align: right;
}

.review-comments .btn {
    padding: 4px 10px;
}

// 17-09-2019 Latest Code
.banner-header {
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;
    right: 0;
    min-height: 120px;
    height: 120px;
}

.user-banner {
    width: 100%;
    min-height: 100%;
}

.change-pic {
    position: absolute;
    z-index: 9;
    cursor: pointer;
    text-align: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 5px);
}

.header-details {
    position: relative;
    top: 10px;
    padding: 0px 15px;
}

.main {
    padding-top: 120px;
}

.profile-img img {
    border: 1px solid #bfbfbf;
    width: 210px;
    min-height: 160px;
    overflow: hidden;
    height: 160px
}

.profile-img h3 {
    color: #000;
    font-size: 22px;
    text-transform: capitalize !important;
    margin: 10px 0px;
}

.main-content {
    background-color: #f2f2f2;
    padding: 30px;
    margin-top: 10px;
}

.socail-links {
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 10px;
    padding-bottom: 5px;
    display: block;
    width: 100%;
    text-align: right;
}

.content-wrapper {
    /*height: 344px;
    min-height: 344px;
    overflow-y: auto; */
    border: 1px dotted #8c8c8c;
    border-radius: 15px;
    background-color: #FFF;
}

li.dropdown.user.user-menu {
    position: relative;
    display: -webkit-box;
    display: flex;
    background-color: #dbeef3;
    border: 1px solid #c3c3c3;
    height: 34px;
    padding: 6px 12px;
}

li.dropdown.user.user-menu span {
    padding-top: 0;
    display: inline-block;
    color: #40727f;
    font-family: "Lato", sans-serif !important;
    text-transform: capitalize;
}

// Responsive CSS Starting Here
@media only screen and (max-width: 1440px) {
    .buy {
        padding-top: 10px;
    }
    .buy-img img {
        width: 30%;
    }
}

@media only screen and (max-width: 1366px) {
    .home-screen {
        width: 65%;
    }
}

@media only screen and (max-width: 1280px) {
    .home-screen {
        width: 70%;
    }
}

@media only screen and (max-width: 1024px) {
    .home-screen {
        width: 100%;
        transform: scale(0.8);
        position: relative;
        left: 0px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 992px) {
    .home-body .container {
        width: 100% !important;
    }
    .mobile-hide {
        display: none;
    }
    .home-ssearch {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {}

@media only screen and (max-width: 768px) {
    .home-screen {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        padding: 25px;
    }
}

@media only screen and (max-width: 767px) {
    .home-screen {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .msg-box ul li {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .home-screen h1 {
        font-size: 24px;
    }
    .home-screen p {
        font-size: 16px;
    }
    .buy h2 {
        font-size: 18px;
    }
    .companyCaption,
    .companydetails {
        padding: 25px 15px;
    }
    .home-search {
        width: 100%;
        margin: 0 auto;
    }
    .home-search .btn-primary {
        padding: 6px 12px;
        font-size: 14px;
    }
    .home-screen {
        -webkit-transform: scale(1);
        transform: scale(1);
        padding: 0px;
    }
}

@media only screen and (max-width: 480px) {
    .home-screen h1 {
        font-size: 18px;
    }
    .home-screen p {
        font-size: 14px;
    }
    .login-screen form .form-group .pre-icon {
        display: none;
    }
    .login-screen form {
        padding: 15px;
        padding-bottom: 15px;
    }
}

.invalid-feedback {
    color: red;
}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 340px) {}

@media only screen and (max-width: 320px) {}

.content-wrapper,
.main-footer {
    margin-left: 0 !important;
}

.pagination {
    float: right;
}

.service-offered .btn {
    background-color: white;
    border: 1px solid #d7d6d6;
    padding: 5px;
    width: 100%;
    font-size: 16px;
    border-radius: 0;
}

.box {
    padding: 0 !important;
}