/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Agency FB Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Agency FB Bold'), url('../src/assets/fonts/AGENCYB.woff') format('woff');
}

// Home Screen CSS Starting Here
html,
body {
    width: 100%;
    height: 100% !important;
    text-transform: lowercase !important;
    font-family: 'Fjalla One', sans-serif !important;
    background-color: #fff;
}
label {
    font-weight: normal;
}
p {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    color: #585858;
    font-family: "Lato", sans-serif !important;
    letter-spacing: 0.03em;
    line-height: 24px;
    margin-bottom: 20px;
}

.maring-bottom-30 {
    margin-bottom: 30px;
}

.modal-title {
    color: #333333;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.3px;
    line-height: 22px;
    margin: 0;
}

//Header CSS
.login-links {
    float: right;
    display: flex;
    padding: 20px 0px 15px;
    margin: 0px;
    margin-right: 15px;
    list-style-type: none;
}

.login-links li {
    text-align: left;
    padding-right: 5px;
}

.login-links li:last-child:after {
    padding-right: 0px;
}

.login-links li a {
    color: rgba(255, 255, 255, 0.8);
}

.login-links li a {
    color: #2f6371;
    border: 1px solid #c7c7c7;
    padding-bottom: 2px;
    background-color: #f2f2f2;
    padding: 4px 20px 6px;
    font-size: 19px;
    font-family: "Lato", sans-serif !important;
}

.login-links li a:hover {
    color: #FFF;
    background-color: #0070c0;
}

.login-links li a i {
    border: 1px solid #FFF;
    border-radius: 100%;
    padding: 3px 6px;
    font-size: 16px;
}

.login-btn .btn {
    padding: 8px 25px;
    width: 100%;
    font-size: 19px;
    font-family: "Lato", sans-serif !important;
    border-radius: 0;
}

.login-links li a i.fa-user-plus {
    padding: 3px 3px;
}

.login-links li a:hover i {
    border: 1px solid #0070c0;
    background-color: #FFF;
    color: #0070c0;
}
.login-links li a.login_btn {
    color: #FFF;
    background: #0070c0;
    margin-right: 10px;
}
.navbar-custom-menu .navbar-nav>.user-menu .user-image {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 0;
}

.navbar-custom-menu .dropdown-menu {
    position: relative;
}

.navbar-custom-menu .dropdown-menu:before {
    background: none repeat scroll 0 0 #fff;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    content: "";
    height: 12px;
    right: 36px;
    position: absolute;
    top: -7px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 12px;
}

.navbar-custom-menu .navbar-nav>li>a {
    padding: 0;
    margin: 0;
    color: #FFF;
    background-color: transparent;
    font-size: 18px;
    letter-spacing: 0.03em;
    font-weight: normal;
    font-family: "Lato", sans-serif !important;
}

.navbar-custom-menu .navbar-nav>li>a:hover,
.navbar-custom-menu .navbar-nav>li>a:focus,
.navbar-custom-menu .navbar-nav>li>a:active,
.navbar-custom-menu .navbar-nav>li>a:visited {
    background-color: transparent;
}

.navbar-custom-menu {
    padding-top: 11px;
    margin-right: 20px;
}

.navbar-custom-menu .navbar-nav>.user-menu span {
    padding-top: 0;
    display: inline-block;
}

.navbar-custom-menu .navbar-nav>.user-menu span span {
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.03em;
    margin: 0px;
    padding: 0px;
}

.navbar-custom-menu .navbar-nav li li:after {
    display: none;
}

// .navbar-custom-menu .navbar-nav li:after {
//     content: "\f0d7";
//     display: inline-block;
//     font: normal normal normal 14px/1 FontAwesome;
//     font-size: inherit;
//     text-rendering: auto;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     font-size: 14px;
//     padding-left: 10px;
//     padding-right: 10px;
//     padding-top: 4px;
//     color: #FFF;
// }

.home-screen {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    background-color: #FFF;
    padding: 0;
    width: 100%;
}

.home-screen h1 {
    margin-top: 0px;
    font-size: 62px;
    text-align: center;
    margin-bottom: 12px;
    letter-spacing: 0.03em;
    font-weight: 900;
    color: #000;
}

.home-screen p {
    text-align: center;
    font-size: 26.2px;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
}

.companyCaption {
    padding: 4.5% 15px 4.5%;
    min-height: 44.5vh;
}

.companydetails {
    padding: 30px 15px 30px;
    background-color: #0070c0;
}

.companydetails * {
    color: #FFF;
}

.buy h2 {
    font-size: 40px;
    letter-spacing: 1px;
    text-shadow: none;
    display: inline-block;
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 0;
}

.buy p {
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 26px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25px;
}

.buy p i {
    font-size: 19px;
    margin-left: -26px;
    margin-right: 15px;
    vertical-align: middle;
    text-align: center;
    width: 32px;
    -webkit-box-align: center;
    align-items: center;
    background-color: #FFF;
    padding: 6px 0;
    color: #0070c0;
}

.buy-img img {
    margin: 0 auto;
    max-width: 147px;
}



.home-search {
    max-width: 700px;
    margin: 0 auto;
}

.home-search input {
    padding: 10px;
    height: 45px;
}

.home-search .input-group-btn button {
    height: 45px;
    font-size: 19px;
    font-family: "Lato", sans-serif !important;
    padding: 4px 20px;
}

// Home Screen CSS Ending Here
// Login and Regester Screen CSS Starting Here
.login-screen {
    max-width: 450px;
    margin: 84px auto 30px;
    // width: 450px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}

.login-screen .auth-header {
    text-align: center;
    font-size: 75px;
    font-weight: 900;
    color: #000;
    padding: 0;
    margin: 0;
    line-height: normal;
}

.login-screen form {
    padding: 20px;
    padding-bottom: 60px;
}

.login-screen form .form-group {
    position: relative;
    margin-bottom: 5px;
}

.login-screen label {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.03em;
    margin-bottom: 8px;
    color: #868686;
}

.login-screen input[type=checkbox],
.login-screen input[type=radio] {
    height: auto;
    margin-right: 10px;
}

.login-screen input {
    height: 45px;
    padding: 0px 10px;
    font-size: 20px;
    color: #000;
    letter-spacing: 1px;
}

.capcha iframe {
    border: 1px solid #d3d3d3;
}

.capcha iframe {
    width: 100% !important;
}

.login-screen form .form-group .pre-icon {
    position: absolute;
    bottom: 5px;
    font-size: 24px;
    color: #0070c0;
    left: -38px;
}

.login-screen .buttons-w {
    padding-top: 1rem;
    margin-top: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.login-screen .btn.btn-warning {
    float: right;
}

.login-screen .btn:hover,
.login-screen .btn-link:hover {
    background-color: #185578;
    border-color: #185578;
    cursor: pointer;
    text-decoration: none;
}

.login-screen .btn-link,
.login-screen .btn-link:hover {
    float: right;
    background-color: transparent;
    border: none;
    padding: 8px 0px;
    color: #7d7d7d;
    font-weight: 500;
}

.login-screen .btn-link {
    text-decoration: underline;
}

.login-screen .btn-danger {
    background-color: red;
    border-color: red;
    cursor: pointer;
    color: #FFF;
    border: 2px solid transparent;
    padding: 7px 20px;
    padding-top: 3px;
    text-decoration: none;
    line-height: normal;
    border-radius: 4px;
}

// Login and Regester Screen CSS Ending Here
// Dashboard CSS Starting Here
.wrapper {
    margin-top: 0;
}

.content-wrapper {
    padding-top: 5px;
}

.skin-blue .sidebar-menu>li:hover>a,
.skin-blue .sidebar-menu>li.active>a,
.skin-blue .sidebar-menu>li.menu-open>a {
    color: #000;
    font-weight: 600;
    font-size: 17px;
}

.content-wrapper .text-center.pull-right {
    margin-bottom: 10px;
}

.box {
    display: inline-block;
}

.edit-btn button {
    background-color: #367fa9;
    border: none;
    padding: 6px 10px;
    color: #FFF;
}

.edit-btn button:hover,
.upload-btn button:hover {
    background-color: #185578;
}

.upload-btn button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    color: #FFF;
    letter-spacing: 0.03em;
    vertical-align: middle;
    background-color: #367fa9;
}

.upload-btn button span {
    font-family: 'Lato', sans-serif;
}

.upload-btn button:before {
    position: relative;
    top: 0px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 10px;
    vertical-align: text-bottom;
}

.upload-file input[type=file] {
    display: flex;
    color: #000;
    height: 40px;
    border: 1px solid #ccc;
    padding: 10px 25px;
    width: auto;
    background-color: #eee;
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.upload-img {
    display: flex;
}

.upload-img .btn.btn-primary,
.upload-img .btn.btn-danger {
    height: 40px;
    border-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.box h4 {
    color: #7f7f7f;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin: 25px 0 20px 0;
    position: relative;
    padding-bottom: 5px;
}

.box h4:after {
    content: "";
    background-color: #222222;
    height: 2px;
    width: 30px;
    position: absolute;
    left: 0;
    top: 100%;
}

.message-box textarea {
    width: 100%;
    border: 1px solid #cecece;
    margin-bottom: 0;
    height: 100px;
    outline: none;
    padding: 15px;
    min-height: 100px;
}

.new-mg-box h4 {
    float: left;
    margin-right: 15px;
}

// Dashboard CSS Ending Here
//Buttons CSS
.post-btns {
    text-align: right;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.post-btns ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: right;
    width: 100%;
    display: inline-block;
}

.post-btns ul li {
    display: inline-block;
}

.post-btns ul li a {}

.post-btns ul li:after {
    content: " ";
    padding: 0px 30px;
}

.post-btns Ul li:last-child:after {
    display: none;
}

.post-list-view ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.post-list-view ul li {
    display: flex;
}

.post-list-view .post-img-box {
    margin-right: 15px;
    box-shadow: 3px 3px 5px #d2d2d2;
    padding: 0;
    background-color: #fff;
    margin-bottom: 20px;
}

.post-list-view .post-img-box:last-child {
    margin-right: 0px;
}

//Social Icons
.content .socail-links a {
    padding-right: 10px;
}

.content .socail-links a:last-child {
    padding-right: 0px;
}

.socail-links .input-group .input-group-append .btn {
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #0070c0;
    background-color: #0070c0;
    color: #FFF;
    margin-right: 3px;
    padding: 0px 7px;
    height: 28px;
}

.socail-links .input-group .input-group-append .btn:last-child {
    margin-right: 0px;
}

.socail-links .input-group input {
    background-color: #FFF;
    font-size: 12px;
    border: 1px solid #e2e2e2;
    padding: 5px 10px;
    height: auto;
    margin-bottom: 4px;
    letter-spacing: 0.03em;
}

.socail-links .input-group {
    display: flex;
}

.socail-links .input-group input {
    float: left;
}

.socail-links .input-group .input-group-append {
    float: right;
    display: flex;
}

.form-horizontal {
    margin-top: 20px;
}

.form-horizontal .form-group {
    margin: 0px;
    padding: 0px;
}

.form-horizontal .form-group label {
    border: 1px dotted #c6c6c6;
    color: #000;
    margin: 3px 3px 3px 0;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.3px;
    padding: 2px 10px;
    font-weight: normal;
    min-height: 32px;
}

.invest-graph img {
    width: 100%;
    height: auto;
}

.box-center {
    text-align: center;
}

.box-center h4:after {
    content: "";
    background-color: #222222;
    height: 2px;
    width: 30px;
    position: absolute;
    left: 50%;
    top: 100%;
    right: auto;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box-center .margin-top-30 {
    margin-top: 30px;
}

.box-center .btn {
    width: 100%;
}

.status-open {
    margin-top: 10px;
    background-color: yellow;
    padding: 10px 15px;
    color: #000;
}

.status-open p {
    color: #000;
    margin: 0px;
    font-size: 22px;
    font-family: "Fjalla One", sans-serif !important;
}

//Messege Box CSS
.msg-box {
    border: 1px dotted #d0d0d0;
    color: #333333;
    font-weight: normal;
    letter-spacing: 0.3px;
    padding: 10px;
    width: 100%;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    margin-bottom: 10px;
}
.msg-box.active {
    background: #f2f2f2;
    border-color: #000;
}
.messge-detail {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 15px;
    margin-top: 2px;
    color: #333333;
    font-weight: normal;
    letter-spacing: 0.3px;
    padding: 10px;
    background: #f3f3f3;
    border-radius: 0 0 10px 10px;
}
.msg-box:hover {
    background: #FFF;
    color: #fff;
    padding-left: 15px;
}
.messge-detail.active {
    margin-left: 20%;
    background: #dbeef3;
    border-radius: 10px 10px 0;
}
.msg-box:hover li label {
    color: #000;
}
.msg-box:hover a {
    color: #0070c0;
}

.msg-box ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.msg-box ul li {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}

.msg-box ul li:first-child {
    text-align: left;
}

.msg-box ul li a:first-child {
    color: #777777;
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.msg-box ul li:last-child {
    text-align: right;
}

.msg-box:hover ul li a *,
.msg-box:hover ul li a label * {
    cursor: pointer !important;
    color: #0070c0;
}

.msg-box ul li label {
    color: #777777;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.msg-box p {
    font-size: 14px;
    margin: 0;
    color: #000;    
    line-height: normal;
}
.messge-detail-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.messge-detail-list label {
    color: #777777;
    margin: 0;
}
//Table CSS
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: separate;
}

.table thead {
    background: none !important;
    cursor: pointer;
}

.table thead tr th.pro {
    background-color: #4dc0ef;
}

.table thead tr th.exp {
    background-color: #f00;
}

.table thead tr th.rew {
    background-color: #f39c3f;
}

.table thead tr th.sta {
    background-color: green;
}

.table tbody tr td label .open {
    color: green;
}

.table tbody tr td label .close {
    color: #f00;
}

.table thead tr th {
    color: #000;
    font-weight: bold;
    letter-spacing: 0.4px;
    padding: 12px 15px;
}

.table thead tr th span {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.table tbody tr {
    border-bottom: 1px solid #e8ecec;
    color: #555;
}

.table tbody tr td label i {
    font-size: 16px;
    color: #0070c0;
}

.table tbody tr table tr {
    border: none;
}

.search-summary.table tbody tr td:first-child {
    width: 67px !important;
    border: none;
}

.table-hover>tbody>tr:hover {
    background-color: #FFF;
}

.table tbody tr td a {
    color: #141414;
}

.table thead tr th {
    text-align: center;
}

.table tbody tr td {
    color: #141414;
    font-size: 17px;
    letter-spacing: normal;
    padding: 0;
    text-align: center;
    font-weight: 400;
    border: 1px solid #f2f2f2;
}

table tbody tr td.lalign {
    text-align: left;
}

.search-summary tr td img {
    width: 75px;
    height: 75px;
    border-bottom: none;
}

.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 33px;
}

.file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    background: #e8e8e8;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 37px;
    line-height: normal;
    color: #000;
    border-radius: 5px 10px 10px 5px;
    font-weight: 400;
}

.file-upload-wrapper:before {
    content: "Select";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: auto;
    color: #fff;
    z-index: 25;
    line-height: normal;
    padding: 10px 15px;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
    border: none;
    font-size: 14px;
    letter-spacing: 0.2px;
    border-radius: 2px;
    color: #FFF;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #0f5075 0%, #0070c0 51%, #0f5075 100%);
}

.file-upload-wrapper:hover:before {
    color: #FFF;
    background-position: right center;
}

.file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}

.text-edit.btn {
    padding: 5px 25px;
    position: absolute;
    right: 0;
    margin-top: 6px;
}

.edit-box textarea {
    box-shadow: none;
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
    letter-spacing: 0.03em;
    line-height: 24px;
    margin-bottom: 0;
    height: 150px;
    width:100%
}

.text-edit-footer {
    margin-bottom: 0;
    text-align: right;
    padding-bottom: 0px;
}

.edit-text-box {
    /*padding: 15px;
    border: 1px solid #ececec;
    box-shadow: 0px 6px 7px #f7f7f7; */
    font-size: 14px;
    font-weight: normal;
    color: #585858;
    letter-spacing: 0.03em;
    line-height: 24px;
    margin-bottom: 20px;
    position: relative;
}

.progress-box .progress {
    height: 22px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    margin-top: -1px;
    border: 1px solid #d0d0d0;
    padding: 2px;
}

.progress-box .p-box {
    display: flex;
    margin-bottom: 5px;
}

.progress-box .p-box .star-label {
    white-space: nowrap;
    float: left;
    margin-right: 20px;
    color: #0070c0;
}
.rating-p-count {
    min-width: 56px;
    display: inline-block;
}
.review-box h4:after {
    display: none;
}

.review-box .row {
    display: flex;
}

.review-box .col-md-12 {
    display: flex;
    margin-bottom: 15px;
}

rating span {
    outline: none;
}

.c-review-box {
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.review-box h4 {
    color: #222222;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin: 0;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 5px;
    margin-right: 15px;
}

.review-comments span {
    padding-top: 10px;
    display: inline-block;
}

.review-title {
    margin-bottom: 12px;
    display: flex;
}

.review-title rating {
    margin-right: 15px;
}

.review-title h2 {
    color: #222222;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin: 0;
    margin-bottom: 8px;
    position: relative;
    padding-bottom: 8px;
    /*position: relative;*/
}


/*.review-title h2:after{
    content: "";
    background-color: rgba(204, 204, 204, 0.21);
    height: 2px;
    width: 30px;
    position: absolute;
    left: 0;
    top: 100%;
}*/



.reviewname {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 4px 0px;
    display: block;
    background-color: #0070c0;
    background-size: 200% auto;
    transition: 0.5s;
    background-image: linear-gradient(to right, #0f5075 0%, #0070c0 51%, #0f5075 100%);
}

.reviewname:hover {
    color: #FFF;
    background-position: right center;
}

.review-date {
    margin-bottom: 8px;
    color: #828282;
}

.review-content p {
    margin: 0px;
}

span.bs-rating-star.active {
    color: gold;
}

.review-comments {
    margin-top: 10px;
    text-align: right;
}

.review-comments .btn {
    padding: 4px 10px;
}

// 17-09-2019 Latest Code
.banner-header {
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;
    right: 0;
    min-height: 125px;
    height: 125px;
    z-index: 9;
}

.user-banner {
    width: 100%;
    min-height: 100%;
}
.change-pic {
    position: absolute;
    z-index: 9;
    cursor: pointer;
    text-align: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.change-pic a{
    color: #fff;
    position: relative;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.change-pic a:before{
    vertical-align: middle;
    -webkit-box-align: center;
    align-items: center;
    background-image: url(assets/images/cam-pic.png);
    background-size: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
}
.banner-header .change-pic a span{
    display: none;
}
.banner-header:hover .change-pic a span{
    font-size: 14px;
    margin-left: 12px;
    display: inline-block;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.banner-header:hover .change-pic a:before{
    background-size: 18px;
    background-position-y: 2px;
}
.banner-header:hover .change-pic a, .profile-change:hover a{
    background-color: #000;
    border: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 6px 12px;
}
.profile-change:hover a{
    padding: 6px 4px;
    font-size: 13px
}
.header-details {
    position: relative;
    top: 10px;
    padding: 0px 15px;
}
.header-details .col-md-2{
    z-index: 99;
}
.main {
    padding-top: 120px;
}
.profile-change {
    height: 140px;
    width: 140px;
    min-height: 125px;
    position: relative;
    border: 1px solid #bfbfbf;
    position: relative;
}
.profile-change a{
    position: absolute;
    top: 4px;
    right: 2px;
    text-align: right;
    width: 100%;
    cursor: pointer !important;
}
.profile-change a span{
    display: none;
    padding-left: 4px;
}
.profile-change a:before{
    vertical-align: middle;
    -webkit-box-align: center;
    align-items: center;
    background-image: url(assets/images/cam-pic.png);
    background-size: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
}
.profile-change:hover a span{
    display: inline-block;
}
.profile-img img {
    width: 100%;
    min-height: 100%;
    height: 100%;
}
.profile-img h3 {
    color: #000;
    font-size: 28px;
    text-transform: capitalize !important;
    margin: 10px 0px;
    margin-bottom: 0px;
}
.profile-img p{
    margin: 0px;
    font-size: 14px;
    font-family: "Fjalla One", sans-serif !important;
}
.main-content {
    background-color: #f2f2f2;
    height: calc(100% - 69px);
    min-height: calc(100% - 69px);
}

.login-content {
    padding: 10px 15px 30px;
    background-color: #f2f2f2;
    margin-top: 20px;
}

.socail-links {
    border-bottom: 2px solid #d0d0d0;
    margin-bottom: 25px;
    padding-bottom: 10px;
    display: block;
    width: 100%;
    text-align: right;
}
.socail-links a{        
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    padding: 0px !important;
    cursor: pointer;
}
.right-socail-links img{
    width: 25px;
    margin-top: 3px;
}
.socail-links a i{
    border-radius: 100%;
    padding: 0;
    color: #FFF;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
}
.socail-links a.twitter i{ 
    background: rgba(9,201,254,1);
    background: -moz-linear-gradient(top, rgba(9,201,254,1) 0%, rgba(7,120,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(9,201,254,1)), color-stop(100%, rgba(7,120,254,1)));
    background: -webkit-linear-gradient(top, rgba(9,201,254,1) 0%, rgba(7,120,254,1) 100%);
    background: -o-linear-gradient(top, rgba(9,201,254,1) 0%, rgba(7,120,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(9,201,254,1) 0%, rgba(7,120,254,1) 100%);
    background: linear-gradient(to bottom, rgba(9,201,254,1) 0%, rgba(7,120,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09c9fe', endColorstr='#0778fe', GradientType=0 );
}

.socail-links a.facebook i{ 
    background: rgba(9,201,254,1);
    background: -moz-linear-gradient(top, #3C5A99 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%,#3C5A99), color-stop(100%, #3C5A99));
    background: -webkit-linear-gradient(top, #3C5A99 0%,#3C5A99 100%);
    background: -o-linear-gradient(top, #3C5A99 0%, #3C5A99 100%);
    background: -ms-linear-gradient(top, #3C5A99 0%,#3C5A99 100%);
    background: linear-gradient(to bottom,#3C5A99 0%, #3C5A99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09c9fe', endColorstr='#0778fe', GradientType=0 );
}

.socail-links a.bell i{
    background: rgba(255,218,25,1);
    background: -moz-linear-gradient(top, rgba(255,218,25,1) 0%, rgba(250,184,82,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,218,25,1)), color-stop(100%, rgba(250,184,82,1)));
    background: -webkit-linear-gradient(top, rgba(255,218,25,1) 0%, rgba(250,184,82,1) 100%);
    background: -o-linear-gradient(top, rgba(255,218,25,1) 0%, rgba(250,184,82,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,218,25,1) 0%, rgba(250,184,82,1) 100%);
    background: linear-gradient(to bottom, rgba(255,218,25,1) 0%, rgba(250,184,82,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffda19', endColorstr='#fab852', GradientType=0 );
}
.socail-links a.in i{
    background: rgba(7,148,253,1);
    background: -moz-linear-gradient(top, rgba(7,148,253,1) 0%, rgba(7,72,253,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(7,148,253,1)), color-stop(100%, rgba(7,72,253,1)));
    background: -webkit-linear-gradient(top, rgba(7,148,253,1) 0%, rgba(7,72,253,1) 100%);
    background: -o-linear-gradient(top, rgba(7,148,253,1) 0%, rgba(7,72,253,1) 100%);
    background: -ms-linear-gradient(top, rgba(7,148,253,1) 0%, rgba(7,72,253,1) 100%);
    background: linear-gradient(to bottom, rgba(7,148,253,1) 0%, rgba(7,72,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0794fd', endColorstr='#0748fd', GradientType=0 );
}
.socail-links a.insta i{
    background: rgba(244,78,119,1);
    background: -moz-linear-gradient(top, rgba(244,78,119,1) 0%, rgba(77,3,202,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,78,119,1)), color-stop(100%, rgba(77,3,202,1)));
    background: -webkit-linear-gradient(top, rgba(244,78,119,1) 0%, rgba(77,3,202,1) 100%);
    background: -o-linear-gradient(top, rgba(244,78,119,1) 0%, rgba(77,3,202,1) 100%);
    background: -ms-linear-gradient(top, rgba(244,78,119,1) 0%, rgba(77,3,202,1) 100%);
    background: linear-gradient(to bottom, rgba(244,78,119,1) 0%, rgba(77,3,202,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f44e77', endColorstr='#4d03ca', GradientType=0 );
}
.socail-links a.pint i{
    background: rgba(252,27,44,1);
    background: -moz-linear-gradient(top, rgba(252,27,44,1) 0%, rgba(151,1,2,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,27,44,1)), color-stop(100%, rgba(151,1,2,1)));
    background: -webkit-linear-gradient(top, rgba(252,27,44,1) 0%, rgba(151,1,2,1) 100%);
    background: -o-linear-gradient(top, rgba(252,27,44,1) 0%, rgba(151,1,2,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,27,44,1) 0%, rgba(151,1,2,1) 100%);
    background: linear-gradient(to bottom, rgba(252,27,44,1) 0%, rgba(151,1,2,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc1b2c', endColorstr='#970102', GradientType=0 );
}
.social-inputbox{ 
    position: relative;
}
.social-inputbox .input-group{
    position: absolute;
    right: 240px;
    width: 250px;
}
.social-inputbox .input-group input{
    background-color: #FFF;
}
.social-inputbox .input-group-append {
    position: absolute;
    top: 1px;
    right: 3px;
    z-index: 999;
}
.social-inputbox .input-group-append button{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    padding: 0px;
    outline: none !important;
}
.content-wrapper {
    /*height: 344px;
    min-height: 344px;
    overflow-y: auto; */
    border: 1px dotted #000;
    border-radius: 15px;
    background-color: #FFF;
}

li.dropdown.user.user-menu {
    position: relative;
    display: block;
    float: none;
    width: 100%;
    text-align: center;
}
li.dropdown.user.user-menu > a {
   
    background-color: #dbeef3;
    border: 1px solid #c3c3c3;
    height: 47px;
    padding: 13px 12px;
}
li.dropdown.user.user-menu span {
    padding-top: 0;
    display: inline-block;
    color: #40727f;
    /* text-transform: capitalize; */
}
li.dropdown.user.user-menu span .notification{
    width: auto;
    margin-left: 5px;
    font-size: 16px;
}
li.dropdown.user.user-menu span .notification span{
    color: #f00;
    width: auto;
    font-size: 16px;
}
.search-summary thead {
    background: none repeat scroll 0 0 #3c8dbc;
    cursor: pointer;
    font-size: 20px;
}
// Responsive CSS Starting Here
@media only screen and (max-width: 1440px) {
    .buy {
        padding-top: 10px;
    }
    .buy-img img {
        width: 30%;
    }
}
@media only screen and (max-width: 1260px) {
    .buy p {
        font-size: 19px;
        margin-bottom: 15px;
        margin-left: 14px;
    }
    .buy p i {
        font-size: 20px;
        margin-left: -14px;
        margin-right: 15px;
        width: 32px;
        padding: 4px 0;
    }
}




@media only screen and (max-width: 992px) {
    body .offered-needed-main .service {
        flex: 0 0 calc(33% - 10px);
        max-width: calc(33% - 10px);
    }
    body .service-offered {
        font-size: 15px
    }
    .home-body .container {
        width: 100% !important;
    }
    .mobile-hide {
        display: none;
    }
    .home-ssearch {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {}

@media only screen and (max-width: 767px) {
    body .search-summary tr td img {
        width: 40px;
        height: 40px;
    }
    .search-summary thead {        
        font-size: 12px;
    }
    body .message-m-b {
        margin-bottom: 10px;
        padding-bottom: 0;
    }
    body .location_top .btn-custom, body .location_top .btn-primary {
        font-size: 14px;
        padding: 2px 15px;
        border: none;
    }
    body .location_top .form-control {
        font-size: 12px;
        height: auto;
        padding: 1px 5px;
    }
    body .skin-blue .sidebar-menu>li>a {
        padding-bottom: 0;
    }
    body .upload-file input {
        width: 100%;
        padding: 8px;
    }
    body .global_dropdown {
        -ms-flex: 0 0 50px;
        flex: 0 0 50px;
        max-width: 50px;
    }
    body .autocomplete {
        -ms-flex: 0 0 calc(100% - 50px);
        flex: 0 0 calc(100% - 50px);
        max-width: calc(100% - 50px);
    }
    body .offered-needed-main .service {
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
    .services_main > .icon {
        font-size: 14px !important;
        padding: 1px 2px !important;
        line-height: normal !important;
        min-height: 21px;
    }
    body .btn-normal-link {
        font-size: 11px;
        padding-right: 0;
    }
    .location_top {
        padding-bottom: 10px;
    }
    body .location_top .l-t-o-link {
        padding: 1px 4px;
        font-size: 12px;
        margin-right: 5px;
        min-height: 21px;
    }
    body .block-full-width {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
   body .block-full-width > .col-sm-2 {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    } 
   body .copy_right {
        padding-top: 0;
        padding-bottom: 10px;
    }
   body .social-inputbox .input-group {
        right: 0;
        top: -40px;
    }
    
    .msg-box ul li {
        width: 100%;
    }
    .skin-blue .main-header .logo a {
        padding-left: 0;       
        font-size: 29px;
    }
    .login-links li a {
        padding: 4px 8px;
        font-size: 15px;
    }
    .login-links li a.login_btn {
        margin-right: 5px;
    }
    .login-links {
        padding: 18px 0px 15px;
        margin-right: 0;
    }
    .row {
        margin-right: -10px;
        margin-left: -10px;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-right: 10px;
        padding-left: 10px;
    }
    .home-search .input-group-btn button {
        font-size: 16px;
        padding: 4px 10px;
    }
    body .form-control {
        font-size: 14px;
    }
    .buy p i {
        font-size: 18px;
        margin-right: 10px;
        width: 30px;
        padding: 5px 0;
    }
    .buy p {
        margin-bottom: 10px;
    }
    body .home-from-data {
        margin-top: 20px;
    }
    .login-screen {
        margin: 35px auto 0;
    }
    .login-screen .auth-header {
        font-size: 24px;
    }
    .login-btn .btn {
        font-size: 20px;
    }
    .main {
        padding-top: 10px;
    }
    .info-box-number {
        color: #000;
        font-size: 30px;
        margin: 0 0 20px;
    }
    .info-box-text {
        font-size: 16px;
    }
    .login-content {
        padding: 10px 10px;
        margin-top: 0;
    }
    .content {
        padding: 10px 10px;
    }
    .socail-links {
        margin-bottom: 0;
        padding-bottom: 10px;
    }
   
    body .edit-text-box p {
        font-size: 14px;
    }
    .edit-box textarea {
        font-size: 14px;
        line-height: 1.5;
    }
    body .service-offered {
        margin-bottom: 10px;       
        flex: 0 0 calc(33% - 10px);
        max-width: calc(33% - 10px);
        font-size: 14px;
        white-space: normal;
    }
    body .accordian_menu {
        font-size: 18px;
        margin: 0 40px 10px 0;
    }
    body .btn-primary , body .btn-custom{
        font-size: 14px;
        padding: 5px 15px;
    }
    
    .h3, h3 {
        font-size: 18px;
    }
    .maring-bottom-30 {
        margin-bottom: 10px;
    }
    body .review-main {
        max-height: initial;
        overflow-y: initial;
    }
    .p-lr-0-d {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .form-horizontal .form-group label:first-child {
        width: calc(41.66666667% - 3px);
    }
    .form-horizontal .form-group label:last-child {
        width: calc(58.33333333% - 3px);
    }
    body .form-horizontal .form-group label:last-child {
        font-size: 16px;
    }
    .form-horizontal .form-group label {
        vertical-align: top;
    }
    .title-border {
        margin-top: 20px;
    }
    .button-large {
        margin-bottom: 10px;
    }
    .table thead tr th {
        padding: 5px;
    }
    .table tbody tr td {
        font-size: 14px;
    }
    .w-d-block {
        width:100% !important;
        display:block;
    }
    .w-d-block > table {
        border-spacing: 2px;
    }
    .w-d-block > table td {
        font-size: 14px;
    }
    .main-header .input-group .input-group-btn button {
        font-size: 13px;
    }
    .main-header .input-group .form-control {
        font-size: 15px;
        padding: 10px 10px;
        height: 32px;
    }
    body .global_select {
        font-size: 15px;
        padding: 5px 6px;
        height: 34px;
    }
    body .filter-select {
        margin-top: 32px;
    }
    .navbar-custom-menu {
        padding-top: 9px;
    }
    body .post-text {
        max-width: 65px;
        max-height: 65px;
        min-width: 65px;
        min-height: 65px;
        font-size: 12px;
        line-height: normal;
    }
    .sidebar-menu>li {
        padding: 0 15px;
        display: inline-block;
    }
    .sidebar-menu{
        white-space: normal;
        text-align: center;
        margin-bottom: 10px
    }
    body .trash_post {
        display: block !important;
        font-size: 11px;
        padding: 1px 4px 2px;
    }
    .navbar-custom-menu {
        margin-right: 0;
    }
    li.dropdown.user.user-menu > a {
        padding: 0;
        font-size: 15px;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        float: right;
        line-height: 37px;
        text-align: center;
    }
    .main-header {
        padding: 0 10px 5px;
    }
    body .home-search .form-control {
        font-size: 13px;
    }
   body .message-m-b {
     
        min-height: auto;
    }
    .main-content {
        margin: 0 ;
        width: 100%;
    }
    body .search-summary tbody tr td {
        font-size: 12px;
    }
    body .ranking-count {
        font-size: 28px;
        line-height: 64px;
    }
    body .ranking-circle {
        width: 60px;
        height: 60px;
        top: 23px;
    }
    body .copy_right_text {
        text-align: center;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    body .footer_terms_condition {
        text-align: center;
    }
    .footer_terms_condition span:first-child {
        padding-left: 0;
    }
    body .header-details {
        padding: 0px 10px;
    }
}

@media only screen and (max-width: 640px) {
    .home-screen h1 {
        font-size: 24px;
    }
    .home-screen p {
        font-size: 16px;
    }
    .buy h2 {
        font-size: 25px;
    }
    .companyCaption     {
        padding: 35px 15px;
        min-height: auto;
    }
    
    .companydetails {
        padding:15px;
    }
    .home-search {
        width: 100%;
        margin: 0 auto;
    }
    .home-search .btn-primary {
        padding: 6px 12px;
        font-size: 14px;
    }
    .home-screen {
        
        padding: 0px;
    }
}

@media only screen and (max-width: 480px) {
    
    .login-screen form .form-group .pre-icon {
        display: none;
    }
    .login-screen form {
        padding: 15px;
        padding-bottom: 15px;
    }
}

.invalid-feedback {
    color: red;
}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 340px) {}

@media only screen and (max-width: 320px) {}

@media only screen and (min-width: 1200px) {
    .p-r-d-40 {
        padding-right: 40px;
    }
    .p-r-d-50 {
        padding-right: 50px;
    }
    .p-l-d-40 {
        padding-left: 40px;
    }
    
}
@media only screen and (min-width: 768px) {
    .location_top {
        margin-top: 4px;
    }
    .block-full-width > .col-sm-2 {
        width:20%;
        padding: 0 5px;
    }
    .pull-right-md {
        float:right;
    }
    .b-d-left {
        border-left:1px dotted #d0d0d0
    }
    .form-horizontal .form-group label:first-child {
        width: calc(41.66666667% - 3px);
    }
    .form-horizontal .form-group label:last-child {
        width: calc(58.33333333% - 3px);
    }
}
.content-wrapper,
.main-footer {
    margin-left: 0 !important;
}

.pagination {
    float: right;
}

.service-offered .btn {
    background-color: white;
    border: 1px solid #d7d6d6;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    border-radius: 0;
    white-space: normal;
}

.box {
    padding: 0 !important;
}
.font-fjalla-one, .highcharts-title {
    font-family: 'Fjalla One', sans-serif !important;
}
.font-agency-bold {
    font-family: 'Agency FB Bold' !important;
}
.f-22 {
    font-size: 22px;
}
.f-20 {
    font-size: 20px;
}
.home-from-data {
    margin-top: 30px;
}

.footer_terms_condition {
    text-align: right;
}
.copy_right {
    padding-top: 20px;
}
.footer_terms_condition {
    text-align: right;
    font-size: 16px;
}
.footer_terms_condition a {
    color: #000;
    text-transform: capitalize;
}
.copy_right_text {
    color: #000;
}
.footer_terms_condition span {
    padding: 0 8px;
}
.login-screen .invalid-feedback {
    margin-bottom: 10px;
}
.no-margin {
    margin: 0;
}
.float_none {
    float: none !important;
}
.edit-text-box p {
    font-size: 18px;
    line-height: 1.5;
    text-transform: initial;
    color: #000;
    margin-bottom: 5px;
}
.pull-right-header {
    float:right;
}
.accordian_menu {
    color: #7f7f7f;
    font-size: 22px;
    letter-spacing: 0.3px;
    margin: 10px 40px 10px 0;
    position: relative;
    padding-bottom: 5px;
    display: block;
    font-family: 'Agency FB Bold' !important;
}
.accordian_menu:hover {
    color: #7f7f7f;
}
.accordian_menu:before {
    content: "";
    height: 1px;
    width: 100%;
    background: #d0d0d0;
    display: block;
    position: absolute;
    top: 14px;
}
.accordian_title {
    background: #fff;
    padding: 0 20px 0 0;
    position: relative;
    z-index: 1;
}
.accordian_menu:after {
    font: normal normal normal 30px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f106";
    position: absolute;
    right: -30px;
    font-size: 25px;
    color: #0070c0;
}
.accordian_menu[aria-expanded="false"]:after {
    content: "\f107";
}
.services_main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.service-offered {
    margin-bottom: 10px;
    -webkit-box-flex: 0;
    flex: 0 0 calc(20% - 10px);
    max-width: calc(20% - 10px);
    margin-right: 10px;
    background: #fff;
    border-radius: 0 !important;
    border: 1px dotted #9b9b9b;
    font-size: 20px;
    white-space: normal;
}
.p-r-50 {
    padding-right: 50px;
}
.e-p-img {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 10px;
}
.normal-title {
    text-transform: initial;
    margin-top: 0;
    color:#000;
}
.e-p-main {
    padding-bottom: 10px;
}
.p-10 {
    padding: 10px;
}
.img-max-100 {
    max-width: 100%;
    width: 100%;
}
.modal-backdrop.in {
    filter: alpha(opacity=30);
    opacity: .3;
}
.btn-custom {
    padding: 5px 25px;
    font-size: 16px;
    border-radius: 0;
}
.h-250 {
    height: 250px !important;
}
.form-control {   
    font-size: 17px;
    background: #fff;
}
.add-p-w {
    padding: 20px;
    border: 1px dotted #9b9b9b;
    min-height: 170px;
    margin: 20px 0;
    text-align: center;
    font-size: 17px;
    padding-top: 50px;
}
.message-m-b {
    border: 1px dotted #d0d0d0;
    padding: 15px;
    border-radius: 20px;
    min-height: 150px;
    margin-bottom: 20px;
}
.large_yellow_btn {
    font-size: 20px;
    background: #ffc107;
    color: #780000;
    padding: 10px;
}
.p-box .progress {
    margin-right: 17px;
}
.custom-hr {
    border-color: #d0d0d0;
}
.text-initial {
    text-transform: initial;
}
.m-t-b-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.no-margin-top {
    margin-top:0;
}
.m-t-20 {
    margin-top: 20px;
}
.d-block w-100 {
    display: block;
}
.w-100 {
    width: 100%;
}
.customer_reviews {
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Agency FB Bold' !important;
}
.p-l-20 {
    padding-left: 20px;
}
.box .review-img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.reviewtitle {
    color: #000;
    text-transform: initial;
    font-size: 20px;
}
.f-16 {
    font-size: 16px;
}
.review-des {
    font-size: 14px;
    color: #828282;
    margin-bottom: 10px;
}
.review-main {
    max-height: 590px;
    overflow-y: auto;
}
.mt-20 {
    margin-top: 20px;
}
.form-horizontal .form-group label:last-child {
    font-size: 18px;
}
.title-border {
    border: 1px dotted #c6c6c6;
    color: #000;
    margin: 0 0 10px;
    font-size: 18px;
    letter-spacing: 0.3px;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
}
.button-large {
    border-radius: 20px;
    border: 3px solid #113274;
    font-size: 22px !important;
    padding: 5px 10px;
}
.btn-success {
    background: #00ac46;
}
.btn-danger {
    background: #f00000;
}
.larget-text {
    font-size: 45px;
    line-height: normal;
}
.table tbody tr td .btn-primary {
    color: #fff;
}
.table thead tr.table-head-bg th {
    color: #fff !important;
    background: #001d55;
}
.custom-table {
    margin-bottom: 0;
    border-spacing: 2px;
    font-family: "Lato", sans-serif ;
    text-transform: initial;
}
.custom-table tbody tr td {
    padding: 2px 0;
}
.btn-yellow {
    background: yellow;
    border-radius: 0;
    font-weight: bold;
    border: none;
}
.join-no-response {
    padding: 6px 12px;
    font-size: 14px;
    background: #ffe9e7;
    font-weight: bold;
}
.box-success {
    background: #00ac46;
    color:#fff;
}
.d-blck {
    display: block;
}
.p-0-b-0 {
    padding: 0 !important;
    border:none !important;
}
.table-td-dotted tr td {
    border: 1px dotted #9b9b9b;
}
.table-td-dotted td a{
    color: #444;
}
.create-history {
    font-size: 15px;
    margin-right: 8px;
    color: #333;
}
.max-height-modal {
    max-height: 80vh;
    overflow-y: auto;
}
.trash_post {
    background: #f00000;
    color: #fff;
    padding: 1px 6px;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    cursor: pointer;
}
.p-t-each {
    position: relative;
    display: block
}
.p-t-each:hover .trash_post {
    display: block
}
.post-text {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    font-size: 15px;
    color: #000;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.search-summary {
    border-spacing: 2px;
}
.search-summary tbody tr td{
    font-size: 17px;
}
.search-summary thead tr th {
    border-bottom: 1px dotted #9b9b9b;
}
.home-search .form-control {
    font-size: 22px;
}
.m-100 {
    max-width: 100%;
}
.down-arrow {
    font-size: 22px;
    margin-left: 7px;
    color: #000 !important;
}
.ranking-circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    color: #0ca6ff;
    background: #fff;
    position: absolute;
    right: 20px;
    z-index: 1000;
    text-align: center;
    top: 4px;
}
.ranking-count {
    color: #f00;
    margin: 0px;
    font-size: 55px;
    line-height: normal;
    font-weight: 700;
    line-height: 103px;
}
.m-w-170 {
    max-width: 170px;
}
.about-textarea {
    font-family: "Lato", sans-serif !important;    
}
.custom-hr {
    margin-top:0;
    border-top-color:#d0d0d0
}
.p-b-0 {
    padding-bottom: 0;
}
.box .l-o-icon {
    width: 23px;
    height: 31px;
    margin-right: 10px;
    border: none;
}
.box .occupation-icon {
    width: 28px;
    height: 32px;
    margin-left: 15px;
}
.l-t-o-link {
    text-align: left;
    padding: 6px 12px;
    line-height: 1.42857143;
}
.align-items-top {
    align-items: start;
}
.btn-normal-link {
    font-size: 15px;
    border: none;
    background: transparent;
    vertical-align: middle;
    color: #337ab7;
    float:right;
}
.location_top .l-o-icon {
    max-width: 22px;
    margin-right: 5px;
}
typeahead-container .dropdown-menu {
    width: 100%;
    border-color: #eee;
    border-radius: 0;
    margin-top: 3px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    max-height: 250px;
    font-family: "Lato", sans-serif !important;
    max-width: 177px;
}
.table-td-dotted td {
    position: relative;
}
typeahead-container.dropdown{
    width: 100%;
}
typeahead-container .dropdown-menu li>a {
    color: #000;
    white-space: normal;
    padding: 3px 12px;
}
typeahead-container .dropdown-menu li > a strong {
    text-decoration: underline;
    font-weight: normal;
}
.msgdetail::-webkit-scrollbar, .custom-scroll::-webkit-scrollbar {
    width: 5px;
  }
   
  .msgdetail::-webkit-scrollbar-track,  .custom-scroll::-webkit-scrollbar-track {
    background: #ddd;
  }
   
  .msgdetail::-webkit-scrollbar-thumb, .custom-scroll::-webkit-scrollbar-thumb {
    background: #666; 
  }
  .custom-scroll {
    padding-right: 5px;
  }
  .location_top .service-offered {
    margin-bottom: 0;   
    flex: 0 0 auto;
    max-width: initial;
    margin-right: 10px;
}
.location_top .l-t-o-link {
    padding: 1px 12px;
    font-size: 16px;
}
.after-empty:after {
    display: none;
}
.no-margin-i {
    margin: 0 !important;
}
.min-height-196 {
    min-height:196px;
}
.footer_terms_condition span:last-child {
    padding-right: 0;
}
.offered-needed-main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.offered-needed-main .service {
    margin-bottom: 10px;
    -webkit-box-flex: 0;
    flex: 0 0 calc(20% - 10px);
    max-width: calc(20% - 10px);
    margin-right: 10px;
}
.main-header .navbar-custom-menu {
    width: 100%;
}

.filter-select {
    width: calc(100% + 2px);
    list-style: none;
    border: 1px solid #bfbfbf;
    border-top: none;
    position: absolute;
    left: -1px;
    background: #fff;
    margin-top: 45px;
    padding: 0;
    max-height: 80vh;
    overflow-y: auto;
  }
  .filter-select-list p {
    margin: 0;
  }
  .filter-select-list {
    cursor: pointer;
    padding: 6px 12px;
  }
  .filter-select-list:hover {
    background:  #dbeef3;
    color: #fff
  }
  .list-highlight,
  .list-highlight:hover {
    background: rgb(55, 55, 55);
    color: #fff
  }
  
  .global_search_main {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }
  .global_dropdown {
      -ms-flex: 0 0 175px;
      flex: 0 0 175px;
      max-width: 175px;
  }
  .autocomplete {
      -ms-flex: 0 0 calc(100% - 175px);
      flex: 0 0 calc(100% - 175px);
      max-width: calc(100% - 175px);
  }
  .full_width {
    width: 100% !important;
  }
  .global_select {
      color: #7f7f7f;
      font-size: 17px;
      font-family: "Lato", sans-serif !important;
      font-weight: 400;
      height: 47px;
      border: 1px solid #bfbfbf;
      border-right: none;
      padding-left: 5px;
      padding-right: 5px;
  }