<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <!-- Info boxes -->
            <div class="row">
                <!-- /.col -->
                <div class="col-md-2  col-xs-12 views">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-street-view"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Views</span>
                            <span class="info-box-number">89</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <!-- fix for small devices only -->
                <div class="col-md-2 col-xs-12 views">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">Posts</span>
                            <span class="info-box-number">42</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-2  col-xs-12 views">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-star"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Reviews</span>
                            <span class="info-box-number">16</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <div class="col-md-2 col-xs-12 views">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-money"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Investors</span>
                            <span class="info-box-number">22</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <div class="col-md-2  col-xs-12 views">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="icon icon-film"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Investments</span>
                            <span class="info-box-number">15</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="text-center pull-right">
                <a href="#"><i id="social-gp" style="padding-right: 4px;" class="fa fa-globe fa-2x social"></i></a>
                <a href="#"><i id="social-tw" style="padding-right: 4px;"
                        class="fa fa-twitter-square fa-2x social"></i></a>
                <a href="#"><i id="social-em" style="padding-right: 4px;" class="fa fa-bell fa-2x social"></i></a>
                <a href="#"><i id="social-fb" style="padding-right: 4px;"
                        class="fa fa-facebook-square fa-2x social"></i></a>
                <a href="#"><i id="social-tw" style="padding-right: 4px;"
                        class="fa fa-twitter-square fa-2x social"></i></a>
                <a href="#"><i id="social-gp" style="padding-right: 4px;"
                        class="fa fa-google-plus-square fa-2x social"></i></a>
                <a href="#"><i id="social-em" style="padding-right: 4px;"
                        class="fa fa-envelope-square fa-2x social"></i></a>
            </div>
            <ng-template #template>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Create Post</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="resetPostTextForm()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form [formGroup]="postTextForm" (ngSubmit)="savePost(postTextForm.value)">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row justify-content-center">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" formControlName="title" placeholder="Title"/>
                                        <span *ngIf="postTextForm.controls['title'].touched && postTextForm.controls['title'].invalid" class="form-error">Title required</span>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-12">
                                <div class="form-group row justify-content-center">
                                    <div class="col-md-12">
                                       <textarea class="form-control" formControlName="text" placeholder="Place text here" rows="4" cols="50"></textarea>
                                        <span *ngIf="postTextForm.controls['text'].touched && postTextForm.controls['text'].invalid" class="form-error">Text 
                                            required</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <button class="blue-rnd-btn sm-btn mx-auto btn-primary" type="submit"
                                    [disabled]="postTextForm.invalid">Submit</button> | 
                                <button class="blue-rnd-btn sm-btn mx-auto btn-warning" type="button"
                                    (click)="resetPostTextForm()">Reset</button>
                            </div>
                        </div>

                    </form>
                </div>
            </ng-template>
            <div>
                <a (click)="popupPostTextModel(template)">Create Text Post</a> | <a>Create Image Post</a>
            </div>
            <div class="container PostsByGroups">
                <div class="row box" *ngIf="PostsByGroups.length>0">

                    <div class="col-sm-12" *ngFor="let postGroup of PostsByGroups;let i = index">
                        <h4>
                            {{postGroup.key}}
                        </h4>
                        <div class="col-sm-4" *ngFor="let post of postGroup.value; let j = index">
                            <div *ngIf="post.ContentType==1">
                                {{post.UserContent}}
                            </div>
                            <div *ngIf="post.ContentType==2">

                                <a data-toggle="modal" data-target="#1" (click)="setModelImage(post.ImagePath)">
                                    <img src={{post.ImagePath}} />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="1" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <div class="modal-body">
                            <img src="{{selectedModelImgPath}}" />
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" style="display: none;">
                <div class="col-md-12">
                    <div class="box">
                        <section>
                            <div class="container ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>May 2019</h4>
                                        <div class="col-md-2 col-sm-4 co-xs-12 gal-item">
                                            <div class="box">
                                                <a href="#" data-toggle="modal" data-target="#1">
                                                    <img src="./././assets/images/11.png">
                                                </a>
                                                <div class="modal fade" id="1" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            <div class="modal-body">
                                                                <img src="images/11.png">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 co-xs-12 gal-item">
                                            <div class="box">
                                                <a href="#" data-toggle="modal" data-target="#16">
                                                    <img src="./././assets/images/22.png">
                                                </a>
                                                <div class="modal fade" id="16" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            <div class="modal-body">
                                                                <img src="./././assets/images/22.png">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>April 2019</h4>
                                        <div class="col-md-2 col-sm-4 co-xs-12 gal-item">
                                            <div class="box">
                                                <a href="#" data-toggle="modal" data-target="#1">
                                                    <img src="./././assets/images/textimage.png">
                                                </a>
                                                <div class="modal fade" id="1" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            <div class="modal-body">
                                                                <img src="images/11.png">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 co-xs-12 gal-item">
                                            <div class="box">
                                                <a href="#" data-toggle="modal" data-target="#16">
                                                    <img src="./././assets/images/22.png">
                                                </a>
                                                <div class="modal fade" id="16" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            <div class="modal-body">
                                                                <img src="./././assets/images/22.png">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 co-xs-12 gal-item">
                                            <div class="box">
                                                <a href="#" data-toggle="modal" data-target="#3">
                                                    <img src="./././assets/images/33.png">
                                                </a>
                                                <div class="modal fade" id="3" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            <div class="modal-body">
                                                                <img src="images/33.png">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 co-xs-12 gal-item">
                                            <div class="box">
                                                <a href="#" data-toggle="modal" data-target="#4">
                                                    <img src="./././assets/images/44.png">
                                                </a>
                                                <div class="modal fade" id="4" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            <div class="modal-body">
                                                                <img src="images/44.png">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 co-xs-12 gal-item">
                                            <div class="box">
                                                <a href="#" data-toggle="modal" data-target="#6">
                                                    <img src="./././assets/images/66.png">
                                                </a>
                                                <div class="modal fade" id="6" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            <div class="modal-body">
                                                                <img src="images/66.png">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>March 2019</h4>
                                        <div class="col-md-2 col-sm-4 co-xs-12 gal-item">
                                            <div class="box">
                                                <a href="#" data-toggle="modal" data-target="#1">
                                                    <img src="./././assets/images/11.png">
                                                </a>
                                                <div class="modal fade" id="1" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            <div class="modal-body">
                                                                <img src="images/11.png">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 co-xs-12 gal-item">
                                            <div class="box">
                                                <a href="#" data-toggle="modal" data-target="#16">
                                                    <img src="./././assets/images/textimage.png">
                                                </a>
                                                <div class="modal fade" id="16" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            <div class="modal-body">
                                                                <img src="./././assets/images/22.png">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 co-xs-12 gal-item">
                                            <div class="box">
                                                <a href="#" data-toggle="modal" data-target="#3">
                                                    <img src="./././assets/images/33.png">
                                                </a>
                                                <div class="modal fade" id="3" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            <div class="modal-body">
                                                                <img src="images/33.png">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 co-xs-12 gal-item">
                                            <div class="box">
                                                <a href="#" data-toggle="modal" data-target="#4">
                                                    <img src="./././assets/images/textimage.png">
                                                </a>
                                                <div class="modal fade" id="4" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            <div class="modal-body">
                                                                <img src="images/44.png">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 co-xs-12 gal-item">
                                            <div class="box">
                                                <a href="#" data-toggle="modal" data-target="#6">
                                                    <img src="./././assets/images/66.png">
                                                </a>
                                                <div class="modal fade" id="6" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            <div class="modal-body">
                                                                <img src="images/66.png">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2 col-sm-4 co-xs-12 gal-item">
                                            <div class="box">
                                                <a href="#" data-toggle="modal" data-target="#1">
                                                    <img src="./././assets/images/11.png">
                                                </a>
                                                <div class="modal fade" id="1" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            <div class="modal-body">
                                                                <img src="images/11.png">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 co-xs-12 gal-item">
                                            <div class="box">
                                                <a href="#" data-toggle="modal" data-target="#16">
                                                    <img src="./././assets/images/22.png">
                                                </a>
                                                <div class="modal fade" id="16" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            <div class="modal-body">
                                                                <img src="./././assets/images/22.png">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 co-xs-12 gal-item">
                                            <div class="box">
                                                <a href="#" data-toggle="modal" data-target="#3">
                                                    <img src="./././assets/images/33.png">
                                                </a>
                                                <div class="modal fade" id="3" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            <div class="modal-body">
                                                                <img src="images/33.png">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 co-xs-12 gal-item">
                                            <div class="box">
                                                <a href="#" data-toggle="modal" data-target="#4">
                                                    <img src="./././assets/images/44.png">
                                                </a>
                                                <div class="modal fade" id="4" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            <div class="modal-body">
                                                                <img src="images/44.png">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 co-xs-12 gal-item">
                                            <div class="box">
                                                <a href="#" data-toggle="modal" data-target="#6">
                                                    <img src="./././assets/images/66.png">
                                                </a>
                                                <div class="modal fade" id="6" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            <div class="modal-body">
                                                                <img src="images/66.png">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- /.box-footer -->
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </section>
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row -->

    <!-- /.content -->
    <footer class="main-footer">
        <div class="pull-right ">
            <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Site map</a>
        </div>
        Copyright 2019 All Right Reserved
    </footer>
</div>
<!-- /.content-wrapper -->
<div class="control-sidebar-bg"></div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fastclick.js"></script>
<script src="js/custom.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/jquery.slimscroll.min.js"></script>