<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <ng-template #templateForPostGallary>
                <form [formGroup]="postGalleryForm" (ngSubmit)="saveGalleryPost(postGalleryForm.value)">
                <div class="modal-body">                   
                    <div class="row">
                        <div class="col-md-6">
                            <div class="add-p-w">                                    
                                <div class="upload-img">
                                    <input type="file" name="image" (change)="attachToFormControl($event)" />
                                </div>
                                <div style="height: 50px;"></div>
                                <label>upload photos</label>
                            </div>                            
                        </div>                                                     
                        <div class="col-md-6">
                                <div class="add-p-w">                                
                            <div class="form-group justify-content-center">
                                <input type="text" class="form-control" formControlName="webUrl" placeholder="https://www.google.com/images/branding/googleimage.png" />
                            </div>
                            <div style="height: 25px;"></div>
                            <label>add photo from web</label>
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom pull-left" aria-label="Close" (click)="resetPostGalleryForm()">
                            Close
                        </button>
                        <button class="btn btn-custom btn-primary pull-right" type="submit" [disabled]="postGalleryForm.invalid">Submit Post</button>
                </div>
            </form>
            </ng-template>
            <ng-template #template>
                
                <form [formGroup]="postTextForm" (ngSubmit)="savePost(postTextForm.value)">
                <div class="modal-body">
                   
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row justify-content-center">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" formControlName="title" placeholder="Title" />
                                        <span *ngIf="postTextForm.controls['title'].touched && postTextForm.controls['title'].invalid" class="form-error">Title required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row justify-content-center">
                                    <div class="col-md-12">
                                        <textarea class="form-control h-250" formControlName="text" placeholder="Place text here" rows="4" cols="50"></textarea>
                                        <span *ngIf="postTextForm.controls['text'].touched && postTextForm.controls['text'].invalid" class="form-error">Text
                                            required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-custom pull-left" aria-label="Close" (click)="resetPostTextForm()">
                                Close
                         </button>
                         <button class="btn btn-custom btn-primary" type="submit" [disabled]="postTextForm.invalid">Submit Post</button> 
                         
                </div>
            </form>
            </ng-template>
            <div class="p-10 p-lr-0-d">
            <div class="box">
                <div *ngIf="isAboutInEditMode" class="post-btns">
                    <ul>
                        <li><a (click)="popupPostTextModel(template)" class="cursor-pointer">[Create Text Post]</a></li>
                        <li><a class="" (click)="popupPostGalleryModel(templateForPostGallary)" class="cursor-pointer">[Create Image Post]</a></li>
                    </ul>
                </div>
                <div class="" *ngIf="PostsByGroups">
                    <div *ngFor="let posts of PostsByGroups">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="normal-title">{{posts.MonthYear}}</h3>
                            </div>
                        </div>
                        <div class="maring-bottom-30">
                            <div class="post-list-view e-p-main">
                                <div class="e-p-img" *ngFor="let post of posts.objPostsList">
                                   
                                        <div *ngIf="post.ContentType==1" class="p-t-each" >
                                            <a href="javascript:void(0)" (click)="getUserContent(post.UserContent, post.Title, contentTemplate)">
                                                <span class="postspcltextclass">
                                                    <b>{{post.Title}} </b><br><br>
                                                    {{post.UserContent}}
                                                </span>
                                            </a>
                                            <a (click)="removepostbyid(post.UserId,post.AutoId)"><span class="trash_post" title="Delete Post" *ngIf = "isAboutInEditMode"><i class="fa fa-trash"></i></span></a>
                                        </div>
                                        <div *ngIf="post.ContentType==2" class="p-t-each">
                                            <div *ngIf="post.WebURL != ''; else elseBlocklocimg" >
                                                <a (click)="getImageUserContent(post.WebURL,ImagesTemplate)" >
                                                    <img src={{post.WebURL}} />
                                                    <!-- <span class="post-text">this is a test page this is a test page this is a test page</span> -->
                                                    
                                                </a>
                                                <a (click)="removepostbyid(post.UserId,post.AutoId)"><span class="trash_post" title="Delete Post" *ngIf = "isAboutInEditMode"><i class="fa fa-trash"></i></span></a>
                                            </div>
                                            <ng-template #elseBlocklocimg>
                                                <a (click)="getImageUserContent(post.ImagePath,ImagesTemplate)" >
                                                    <img src={{post.ImagePath}} />
                                                   
                                                </a>
                                                <a (click)="removepostbyid(post.UserId,post.AutoId)"><span class="trash_post" title="Delete Post" *ngIf = "isAboutInEditMode"><i class="fa fa-trash"></i></span></a>
                                            </ng-template>                                            
                                        </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" *ngIf="!PostsByGroups || PostsByGroups.length == 0">
                    no posts are available
                </div>
            </div>
            </div>

            <ng-template #ImagesTemplate>
                
                <div class="modal-body">
                    <img class="img-max-100" src="{{selectedModelImgPath}}" />
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-custom pull-left" aria-label="Close" (click)="contentModalRef.hide()">
                               Close
                        </button>
                </div>
            </ng-template>
            <div class="modal fade" id="1" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      
                        <div class="modal-body">
                            <img class="img-max-100" src="{{selectedModelImgPath}}" />
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-custom pull-left" aria-label="Close" data-dismiss="modal">
                                       Close
                                </button>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #contentTemplate>
                <div class="modal-header">
                    <h3 class="modal-title pull-left">{{userTitle}}</h3>
                   
                </div>
                <div class="modal-body">
                    <div>
                        <p>{{userContent}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-custom pull-left" aria-label="Close" (click)="contentModalRef.hide()">
                               Close
                        </button>
                </div>
            </ng-template>
        </section>
    </div>
</div>