<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <ng-template #templateForPostGallary>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Create Post</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="resetPostGalleryForm()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="postGalleryForm" (ngSubmit)="saveGalleryPost(postGalleryForm.value)">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Select Photo</label>
                                <div class="form-group file-upload-wrapper justify-content-center" data-text="Select your file!">
                                    <input type="file" name="image" (change)="attachToFormControl($event)" value="" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <b>or</b>
                            </div>                            
                            <div class="col-md-5">
                                <label>Add a photo url from web</label>
                                <div class="form-group justify-content-center">
                                    <input type="text" class="form-control" formControlName="webUrl" placeholder="https://www.google.com/images/branding/googleimage.png" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <button class="btn btn-primary" type="submit" [disabled]="postGalleryForm.invalid">Submit Post</button> |
                                <button class="btn btn-danger" type="button" (click)="resetPostGalleryForm()">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>
            <ng-template #template>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Create Post</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="resetPostTextForm()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="postTextForm" (ngSubmit)="savePost(postTextForm.value)">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row justify-content-center">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" formControlName="title" placeholder="Title" />
                                        <span *ngIf="postTextForm.controls['title'].touched && postTextForm.controls['title'].invalid" class="form-error">Title required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row justify-content-center">
                                    <div class="col-md-12">
                                        <textarea class="form-control" formControlName="text" placeholder="Place text here" rows="4" cols="50"></textarea>
                                        <span *ngIf="postTextForm.controls['text'].touched && postTextForm.controls['text'].invalid" class="form-error">Text
                                            required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <button class="btn btn-primary" type="submit" [disabled]="postTextForm.invalid">Submit Post</button> |
                                <button class="btn btn-danger" type="button" (click)="resetPostTextForm()">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>
            <div class="box">
                <div *ngIf="isAboutInEditMode" class="post-btns">
                    <ul>
                        <li><a (click)="popupPostTextModel(template)" class="btn btn-default">Create Text Post</a></li>
                        <li><a class="btn btn-default" (click)="popupPostGalleryModel(templateForPostGallary)">Create
                                Image Post</a></li>
                    </ul>
                </div>
                <div class="" *ngIf="PostsByGroups">
                    <div *ngFor="let posts of PostsByGroups">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>{{posts.MonthYear}}</h4>
                            </div>
                        </div>
                        <div class="maring-bottom-30">
                            <div class="post-list-view row">
                                <div class="col-md-2" *ngFor="let post of posts.objPostsList">
                                    <div class="post-img-box">
                                        <div *ngIf="post.ContentType==1">
                                            <a href="javascript:void(0)" (click)="getUserContent(post.UserContent, post.Title, contentTemplate)"><img src="../../../assets/selfprflimages/doc_icon.png"></a>
                                        </div>
                                        <div *ngIf="post.ContentType==2">
                                            <div *ngIf="post.WebURL != ''; else elseBlocklocimg">
                                                <a (click)="getImageUserContent(post.WebURL,ImagesTemplate)">
                                                    <img src={{post.WebURL}} />
                                                </a>
                                            </div>
                                            <ng-template #elseBlocklocimg>
                                                <a (click)="getImageUserContent(post.ImagePath,ImagesTemplate)">
                                                    <img src={{post.ImagePath}} />
                                                </a>
                                            </ng-template>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #ImagesTemplate>
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="contentModalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="{{selectedModelImgPath}}" width="100%" />
                </div>
            </ng-template>
            <div class="modal fade" id="1" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <div class="modal-body">
                            <img src="{{selectedModelImgPath}}" />
                        </div>

                    </div>
                </div>
            </div>
            <ng-template #contentTemplate>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{userTitle}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="contentModalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <p>{{userContent}}</p>
                    </div>
                </div>
            </ng-template>
        </section>
    </div>
</div>